{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <div class="desktop_nav_menu">

  {% if customer %}
    <div class="desktop_menu_linklist">
      <a href="{{ shop.url }}/products/project-01">Projects</a>
      <a href="https://ludic.life/">Shop</a>
      <a href="{{ routes.account_url }}" class="header_account">
        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.25 12.4455C11.6257 12.4434 11.8336 12.4402 11.9521 12.4357C12.0596 12.4317 12.1162 12.4262 12.1641 12.4055C12.2603 12.3639 12.3418 12.291 12.3926 12.2004L12.4326 12.1047C12.4414 12.0741 12.4453 12.0383 12.4473 12.008C12.4494 11.9749 12.4505 11.9362 12.4502 11.8947C12.4497 11.8117 12.4442 11.7103 12.4365 11.6027C12.4288 11.4954 12.4186 11.3797 12.4053 11.2678L12.3584 10.9543C12.0758 9.4436 11.1973 8.10887 9.89844 7.20039C9.43361 6.87629 8.8738 6.59765 8.31641 6.4123C8.83732 6.06332 9.24258 5.61651 9.51562 5.08027C9.97068 4.18371 9.99465 3.12796 9.58496 2.22187L9.49707 2.04219C9.35332 1.77184 9.23435 1.59842 9.02637 1.35957C8.46124 0.7104 7.63786 0.283053 6.75488 0.175976L6.75586 0.174999C6.51817 0.145441 6.11315 0.141645 5.8916 0.16621C5.36094 0.225038 4.76637 0.433315 4.33105 0.713085H4.33008C4.16485 0.819936 3.96901 0.971458 3.81934 1.10664L3.68848 1.23359C3.625 1.30082 3.56193 1.36818 3.5498 1.38203V1.38301C3.51935 1.41628 3.46249 1.48887 3.41113 1.55781C3.35409 1.63438 3.29238 1.7209 3.25684 1.77559C2.69261 2.64316 2.57142 3.76893 2.93555 4.74629C3.13736 5.2864 3.50477 5.79206 3.96973 6.17891C4.04962 6.24514 4.17586 6.33656 4.28711 6.4123C2.79564 6.90763 1.54814 7.9453 0.823242 9.30293L0.822266 9.30391C0.663746 9.60267 0.542514 9.88656 0.436523 10.2082L0.334961 10.5441C0.272292 10.7713 0.216869 11.1049 0.183594 11.4016C0.166891 11.5505 0.155429 11.6935 0.151367 11.8117C0.147592 11.922 0.149413 12.0321 0.168945 12.1027V12.1037C0.205694 12.2343 0.302241 12.3438 0.424805 12.4025V12.4016C0.472798 12.4252 0.520978 12.4313 0.62207 12.4357C0.730529 12.4405 0.926241 12.4434 1.29297 12.4455C2.02899 12.4497 3.46503 12.4504 6.2959 12.4504C9.06089 12.4504 10.4969 12.4497 11.25 12.4455ZM7.12305 5.94648C6.26474 6.21105 5.37226 6.05969 4.67871 5.53144V5.53047C3.81746 4.87724 3.479 3.78624 3.82227 2.78828V2.7873C3.8911 2.58668 4.06223 2.27354 4.20215 2.09785H4.20312C4.64977 1.5303 5.27695 1.18299 6.02441 1.09297L6.17676 1.08418C6.35644 1.08107 6.59886 1.09337 6.73145 1.11641H6.73242C7.03128 1.16704 7.26256 1.24218 7.52344 1.37422H7.52441C8.2214 1.7255 8.7395 2.41035 8.86914 3.13398C8.93652 3.51639 8.92542 3.85157 8.83105 4.19551L8.78516 4.34394C8.53105 5.09477 7.89695 5.70832 7.12402 5.94648H7.12305ZM1.14941 11.4221V11.4191C1.15676 11.3451 1.1778 11.2184 1.20312 11.0881L1.2832 10.7355L1.39941 10.3693C1.70251 9.52965 2.22194 8.79882 2.93555 8.21504C3.17804 8.01702 3.43834 7.83483 3.5957 7.75019C3.62951 7.73284 3.69642 7.69546 3.75195 7.66328C4.01282 7.51839 4.47928 7.32668 4.80371 7.23164H4.80273C5.0899 7.1496 5.54749 7.06422 5.83789 7.04023H5.83887C5.93344 7.0319 6.1431 7.02875 6.35938 7.03144C6.576 7.03415 6.78321 7.04239 6.87305 7.05293H6.87402C7.66962 7.14177 8.39627 7.38496 9.05859 7.78437C10.2934 8.52919 11.1476 9.73883 11.4023 11.1008C11.4251 11.2259 11.4452 11.3624 11.458 11.4699C11.4596 11.4837 11.4596 11.4975 11.4609 11.51C11.393 11.5106 11.3033 11.5113 11.1943 11.5119C10.9233 11.5135 10.5315 11.5146 10.0488 11.5158C9.08307 11.5183 7.75223 11.5197 6.28906 11.5197H1.1377L1.14941 11.4221Z" fill="white" stroke="white" stroke-width="0.3"/>
        </svg>
        <span>My Account</span>
      </a>
    </div>

  {% else %}
    <div class="desktop_menu_linklist">
      <a href="{{ shop.url }}/products/project-01">Projects</a>
      <a href="{{ routes.account_login_url }}">Sign up</a>
      <a href="{{ routes.account_login_url }}">Login</a>
    </div>
  {% endif %}

</div>

  {% comment %} <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul> {% endcomment %}
</nav>
