{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    {% if request.path contains 'account' %}
       <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.0835 4.08335V0.583349M11.0835 0.583349H7.5835M11.0835 0.583349L5.8335 5.83334M4.66683 0.583344H3.3835C2.4034 0.583344 1.91336 0.583344 1.53901 0.774082C1.20973 0.94186 0.942013 1.20958 0.774234 1.53886C0.583496 1.9132 0.583496 2.40325 0.583496 3.38334V8.28334C0.583496 9.26346 0.583496 9.75346 0.774234 10.1278C0.942013 10.4571 1.20973 10.7248 1.53901 10.8926C1.91336 11.0833 2.4034 11.0833 3.3835 11.0833H8.2835C9.26361 11.0833 9.75361 11.0833 10.128 10.8926C10.4573 10.7248 10.725 10.4571 10.8927 10.1278C11.0835 9.75346 11.0835 9.26346 11.0835 8.28334V7.00001" stroke="white" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    {% endif %}
    {% comment %} <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span> {% endcomment %}
    Share
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      {% comment %} <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span> {% endcomment %}
      Share
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy">
        <span class="svg-wrapper">
          {{- 'icon-copy.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>
