{%- if section.settings.fullwidth -%}
  {%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
  {%- assign container = 'kretoss-container' -%}
{%- else -%}
  {%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
  {%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin  = section.settings.margin | split: "|" %}
{% assign padding = section.settings.padding | split: "|" %}

{%- style -%}
/* ===============================
   SPACING
================================ */
#shopify-section-{{ section.id }} .section-faqs-tab{
  {% if margin[0] != blank %}margin: {{ margin[0] }};{% endif %}
  {% if padding[0] != blank %}padding: {{ padding[0] }};{% endif %}
}
@media (max-width:1200px){
  #shopify-section-{{ section.id }} .section-faqs-tab{
    {% if margin[1] != blank %}margin: {{ margin[1] }};{% endif %}
    {% if padding[1] != blank %}padding: {{ padding[1] }};{% endif %}
  }
}
@media (max-width:991px){
  #shopify-section-{{ section.id }} .section-faqs-tab{
    {% if margin[2] != blank %}margin: {{ margin[2] }};{% endif %}
    {% if padding[2] != blank %}padding: {{ padding[2] }};{% endif %}
  }
}
@media (max-width:767px){
  #shopify-section-{{ section.id }} .section-faqs-tab{
    {% if margin[3] != blank %}margin: {{ margin[3] }};{% endif %}
    {% if padding[3] != blank %}padding: {{ padding[3] }};{% endif %}
  }
}

{%- endstyle -%}

<div class="kretoss-section section-faqs-tab" id="faqs">
  <div class="{{ container }}" {{ max_width }}>
    <div class="faqs_tab_container">

      <div class="faqs_left_content">
        <div class="faqs_top">
          <h2>Everything,<span> clearly explained</span></h2>
          <div class="faqs_description"><p>Ludic Kitchen works differently from traditional launches. So we’ve laid out the details — how participation works, how contributions are treated, timelines, credits, and what happens at every stage.</p>
          <p> If you’re deciding whether to join, this is where clarity lives.</p></div>
          <div class="faq-tabs">
            {% assign first_tab = '' %}
            {% for block in section.blocks %}
              {% if block.type == 'tab' %}
                {% if first_tab == '' %}
                  {% assign first_tab = block.settings.tab_handle %}
                {% endif %}
                <div class="faq_button_content">
                  <button
                    class="faq-tab {% if forloop.first %}active{% endif %}"
                    data-tab="{{ block.settings.tab_handle }}"
                    {{ block.shopify_attributes }}>
                    <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/file.svg?v=1766138300">
                    {{ block.settings.tab_title }}
                  </button>
                  <p>What it is, what it isn’t, and why it exists</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% comment %} <a href="#" class="faq_btn theme_btn">View Project</a> {% endcomment %}
      </div>

      <div class="faq-content">
        {% for block in section.blocks %}
          {% if block.type == 'faq' %}
            <div
              class="faq-item"
              data-tab="{{ block.settings.tab_handle }}"
              {% unless block.settings.tab_handle == first_tab %}
                style="display:none"
              {% endunless %}
              {{ block.shopify_attributes }}>

              <button class="faq-question">
                {{ block.settings.question }}
                <span class="faq-icon">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.0001 4.16675V15.8334M4.16675 10.0001H15.8334" stroke="#1A1A1A" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>  
                  </span>
              </button>

              <div class="faq-answer">
                {{ block.settings.answer }}
              </div>

            </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
  const scope = document.querySelector("#shopify-section-{{ section.id }}");

  function openFirstFaq(tabKey){
    const items = scope.querySelectorAll(".faq-item");
    //let firstOpened = false;

    items.forEach(item => {
      const answer = item.querySelector(".faq-answer");

      if(item.dataset.tab === tabKey){
        item.style.display = "block";
      } else {
        item.style.display = "none";
        item.classList.remove("active");
        answer.style.maxHeight = null;
      }
    });
  }


  // TAB SWITCH
  scope.querySelectorAll(".faq-tab").forEach(tab=>{
    tab.addEventListener("click",()=>{
      const key = tab.dataset.tab;

      scope.querySelectorAll(".faq-tab")
        .forEach(t=>t.classList.remove("active"));
      tab.classList.add("active");

      openFirstFaq(key);
    });
  });

  // ACCORDION CLICK
  scope.querySelectorAll(".faq-question").forEach(q=>{
    q.addEventListener("click",()=>{
      const item = q.closest(".faq-item");
      const answer = item.querySelector(".faq-answer");

      // Close all other open FAQs in current tab
      scope.querySelectorAll(".faq-item.active").forEach(openItem => {
        if(openItem !== item){
          openItem.classList.remove("active");
          const openAnswer = openItem.querySelector(".faq-answer");
          openAnswer.style.maxHeight = null;
        }
      });

      // Toggle current one
      if(item.classList.contains("active")){
        item.classList.remove("active");
        answer.style.maxHeight = null;
      } else {
        item.classList.add("active");
        answer.style.maxHeight = answer.scrollHeight + "px";
      }
    });
  });

});
</script>


{% schema %}
{
  "name": "FAQs Tab",
  "settings": [
    {
      "type": "text",
      "id": "max_width",
      "label": "Max width",
      "default": "1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Full width"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "FAQ Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Funding"
        },
        {
          "type": "text",
          "id": "tab_handle",
          "label": "Tab handle",
          "info": "Example: funding"
        }
      ]
    },
    {
      "type": "faq",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "tab_handle",
          "label": "Tab handle",
          "info": "Must match tab handle"
        },
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs Tab"
    }
  ]
}
{% endschema %}
