{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-featured-project{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-featured-project{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-featured-project{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-featured-project{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
    .section-featured-project h2.h2_title {
        font-weight: 800;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.44px;
        text-align: center;
        margin: 0px;
    }
    .section-featured-project h2.h2_title span.border_text {
        position: relative;
        padding: 0px 20px;
        color: var(--primary_color);
    }
    .section-featured-project h2.h2_title span.border_text img{
        position: absolute;
        left: 0px;
        top: 5px;
        width: 100%;
    }
    .featured_project_container {
        display: grid;
        grid-template-columns: 1.36fr 0.64fr;
        gap: 8px;
        margin-top: 60px;
    }   
    .p_right_image {
        background: var(--grey);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        padding: 20px;
    }  
    .p_left_content {
        background: var(--grey);
        border-radius: 16px;
        padding: 24px 40px 32px;
    } 
    h3.project_title {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.6px;
        text-align: left;
        max-width: 168px;
        display: grid;
        gap: 10px;
        margin: 0px;
    }
    .project_data_container {
        margin-top: 15px;
        padding-top: 20px;
        border-top: dotted 2px var(--primary_color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .info_points {
        display: grid;
        gap: 12px;
    }
    .info_li {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .info_li p {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.6px;
    }
    .raised_counters_data {
        display: flex;
        gap: 44px;
    }
    .count_data {
        display: grid;
        gap: 4px;
    }
    .count_data h5 {
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -1.1px;
        text-align: left;
        margin: 0px;
        color: var(--primary_color);
    }
    .count_data p {
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: -0.5px;
        margin: 0px;
    }
    .raised_goal {
        display: grid;
        gap: 6px;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -1.1px;
        color: var(--primary_color);
    }
    .raised_goal span {
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: -0.5px;
        color: var(--black);
    }
    .project_data_counter {
        background: #F2F1F1;
        border-radius: 8px;
        padding: 12px 18px;
    }
    .raised_progress_bar {
        margin: 18px 0px 24px;
    }
{%- endstyle -%}
<div class="kretoss-section section-featured-project">
	<div class="{{ container }}" {{ max_width }}>
        <div class="section_heading">
            <h2 class="h2_title">
                Our first<span class="border_text"><img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/title_round.svg?v=1766058214">project</span>
            </h2>
        </div>
        <div class="featured_project_container">
            <div class="p_left_content">
                <h3 class="project_title">
                    Ludic Clogs <span>2025</span>
                </h3>
                <div class="project_data_container">
                    <div class="project_data_counter">
                        <div class="raised_goal">
                            ₹ 10,000
                            <span>Raise of ₹ 75,00,000 goal</span>
                        </div>
                        <div class="raised_progress_bar">
                            
                        </div>
                        <div class="raised_counters_data">
                            <div class="count_data">
                                <h5>2,182</h5>
                                <p>Backer</p>
                            </div>
                            <div class="count_data">
                                <h5>13</h5>
                                <p>Days to go</p>
                            </div>
                            <div class="count_data">
                                <h5>13</h5>
                                <p>Days to go</p>
                            </div>
                        </div>
                    </div>
                    <div class="project_information">
                        <div class="info_points">
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="go_btn theme_btn">View Project</a>
            </div>
            <div class="p_right_image">
                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/clog_img.png?v=1766058482">
            </div>
        </div>
	</div>
</div>
{% schema %}
{
  "name": "Featured Project",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ],
	"presets": [
		{
			"name": "Featured Project"
		}
    ]
}
{% endschema %}