{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-featured-project{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-featured-project{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-featured-project{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-featured-project{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
    

{%- endstyle -%}
{% assign project_product = all_products[section.settings.project_product] %}

<div class="kretoss-section section-featured-project">
	<div class="{{ container }}" {{ max_width }}>
        <div class="section_heading">
            <h2 class="h2_title">
                Our first<span class="border_text"><img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/title_round.svg?v=1766058214">project</span>
            </h2>
        </div>
        <div class="featured_project_container">
            <div class="p_left_content">
                <h6 class="project_title">{{ project_product.title }}</h6>
                <h3 class="project_name">
                    {{ project_product.metafields.custom.project_name }}
                </h3>
                <div class="project_data_container">
                    <div class="project_data_counter">

                        {% assign current_backers = 0 %}

                        {% for variant in project_product.variants %}
                            {% assign variant_current = variant.metafields.custom.current_reached_tier_goal | default: 0 %}
                            {% assign current_backers = current_backers | plus: variant_current %}
                        {% endfor %}

                        {% assign total_days = 60 %}
                        {% assign start_date = project_product.metafields.custom.project_goal_start_date %}
                        {% assign start_ts = start_date | date: "%s" %}
                        {% assign today_ts = "now" | date: "%s" %}
                        {% assign seconds_diff = today_ts | minus: start_ts %}
                        {% assign days_passed = seconds_diff | divided_by: 86400 | floor %}
                        {% assign days_left = total_days | minus: days_passed %}
                        {% if days_left < 0 %}
                            {% assign days_left = 0 %}
                        {% endif %}
                        {% if days_left > total_days %}
                            {% assign days_left = total_days %}
                        {% endif %}

                        {% assign raised_amount = project_product.metafields.custom.raised_amount | default: 0 %}
                        {% assign ludic_spent_amount = project_product.metafields.custom.ludic_amount | default: 0 %}
                        {% assign goal_amount = project_product.metafields.custom.project_goal | default: 1 %}

                        {%- comment -%} Calculate overall progress percentage {%- endcomment -%}
                        {% assign progress = raised_amount | times: 100.0 | divided_by: goal_amount | round: 0 %}
                        {% if progress > 100 %}
                        {% assign progress = 100 %}
                        {% endif %}

                        {% assign bar_width = progress %} {% if bar_width < 2 %} {% assign bar_width = 2 %} {% endif %}

                        {%- comment -%} Calculate Ludic spent percentage {%- endcomment -%}
                        {% assign red_width = ludic_spent_amount | times: 100.0 | divided_by: goal_amount | round: 0 %}
                        {% if red_width > 100 %}
                        {% assign red_width = 100 %}
                        {% endif %}

                        {%- comment -%} Remaining progress for blue bar {%- endcomment -%}
                        {% assign blue_width = progress | minus: red_width %}
                        {% if blue_width < 0 %}
                        {% assign blue_width = 0 %}
                        {% endif %}

                        {% assign goal = goal_amount | times: 1.0 %}
                        {% if goal >= 10000000 %}
                            {% assign goal_display = goal | divided_by: 10000000.0 | round: 2 | append: 'Cr' %}
                        {% elsif goal >= 100000 %}
                            {% assign goal_display = goal | divided_by: 100000.0 | round: 1 | append: 'L' %}
                        {% else %}
                            {% assign goal_display = goal | money_without_currency %}
                        {% endif %}

                        {% comment %} <div class="raised_goal">
                            ₹ {{ raised_amount | times: 100 | money_without_currency }}
                            <span>
                                Raise of ₹ {{ goal_amount | times: 100 | money_without_currency }} goal
                            </span>
                        </div> {% endcomment %}

                        <div class="project_progress_data">
                            <div class="goal_raised">
                                <h2 class="js-indian-number js-counter" data-value="{{ raised_amount }}">₹</h2>
                                <span>Raised till now</span>
                            </div>
                            <div class="goal_total">
                                <h2 class="js-indian-number" data-value="{{ goal_display }}">₹</h2>
                                <span>Our total goal</span>
                            </div>
                        </div>


                        <div class="raised_progress_bar">
                            <div class="progress_track">
                                {% if red_width > 0 %}
                                    <div class="progress_fill red_fill" style="width: {{ red_width }}%;"> </div>
                                {% endif %}
                                {% if bar_width > red_width %}
                                    <div class="progress_fill blue_fill" style="width: {{ bar_width }}%;"> </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="raised_counters_data">
                            <div class="count_data">
                                <h5>{{ progress }}%</h5>
                                <p>Raised</p>
                            </div>
                            <div class="count_data">
                                <h5>{{ current_backers }}</h5>
                                <p>Backer</p>
                            </div>
                            <div class="count_data">
                                <h5>{{ days_left }}</h5>
                                <p>Days to go</p>
                            </div>
                        </div>
                    </div>
                    <div class="project_information">
                        <div class="info_points">
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>The upper is crafted in soft EVA foam that cushions every step, while a harder TPU outsole adds durability.</p>
                            </div>
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>Designed with Ludic's in motion language, every detail has a purpose. Clean, intentional, & functional.</p>
                            </div>
                            <div class="info_li">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                <p>Breathability, and long-wear comfort, backed by thoughtful details like a relaxed last, asterisk bridge deboss, and side air vents.</p>
                            </div>
                            {% comment %} {% if project_product.metafields.custom.project_info_points %}
                                {% for point in project_product.metafields.custom.project_info_points.value %}
                                <div class="info_li">
                                    <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                                    <p>{{ point }}</p>
                                </div>
                                {% endfor %}
                            {% endif %} {% endcomment %}
                        </div>
                    </div>
                </div>
                <a href="{{ project_product.url }}" class="go_btn theme_btn">
                    View Project 01
                    <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.916016 11.9165L6.41602 6.4165L0.916016 0.916504" stroke="white" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
            <div class="p_right_image">
                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/clog_img.png?v=1766058482">
            </div>
        </div>
	</div>
</div>
{% schema %}
{
  "name": "Featured Project",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
        "type": "product",
        "id": "project_product",
        "label": "Select Project Product"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ],
	"presets": [
		{
			"name": "Featured Project"
		}
    ]
}
{% endschema %}