{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-how-works{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-how-works{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-how-works{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-how-works{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
    .how_works_container {
        background: var(--grey);
        border-radius: 20px;
        padding: 40px 40px 40px 26px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 28px;
    }
    .work_steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 26px;
    }
    .work_step {
        min-height: 368px;
        background: #F1F0F0;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .steps_top {
        display: grid;
        gap: 12px;
    }
{%- endstyle -%}
<div class="kretoss-section section-how-works">
	<div class="{{ container }}" {{ max_width }}>
        <div class="how_works_container">
            <div class="works_left_content">
                <div class="top_content">
                    <h2>How <span>Kitchen</span> works</h2>
                    <p>Many hands, one shared intention. Every project here follows a simple, 4-folded path -- pick your tier, make your contribution, join the creative process, and finally collect what you helped bring to life. Here's how it unfolds:</p>
                </div>
                <a href="#" class="how_works_btn theme_btn">Learn more</a>
            </div>
            <div class="works_right_content">
                <div class="work_steps">
                    <div class="work_step">
                        <div class="steps_top">
                            <h5>01</h5>
                            <p>Choose Tier</p>
                        </div>
                        <div class="steps_bottom">
                            <p>Pick the tier that matches how much you want to contribute and how closely you want to be involved.</p>
                        </div>
                    </div>
                    <div class="work_step">
                        <div class="steps_top">
                            <h5>02</h5>
                            <p>Contribute</p>
                        </div>
                        <div class="steps_bottom">
                            <p>Make your payment for the tier you've chosen. This secures your participation and unlocks your tier access.</p>
                        </div>
                    </div>
                    <div class="work_step">
                        <div class="steps_top">
                            <h5>03</h5>
                            <p>Co-create</p>
                        </div>
                        <div class="steps_bottom">
                            <p>The project begins. Follow the process, explore your access, and participate as your tier allows.</p>
                        </div>
                    </div>
                    <div class="work_step">
                        <div class="steps_top">
                            <h5>04</h5>
                            <p>Redeem</p>
                        </div>
                        <div class="steps_bottom">
                            <p>When the project is complete, claim your product and all your co- creator benefits included in your tier.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% schema %}
{
  "name": "How Works",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ],
	"presets": [
		{
			"name": "How Works"
		}
    ]
}
{% endschema %}