{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}


{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
    #shopify-section-{{ section.id }} .section-customer_account{
      {%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
      {%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
    }
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}


<div class="kretoss-section section-customer_account">
  <div class="{{ container }}" {{ max_width }}>
    <div class="account_dashboard">
      <div class="account_sidebar_mobile">
        <a href="{{ shop.url }}">
          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/logo.svg?v=1766044966">
        </a>
        <div class="nav_toggle_open">
          <span class="hamburger">☰</span>
        </div>
      </div>
      <div class="account_sidebar">
        <div class="sidebar_header">
          <a href="{{ shop.url }}">
            <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/logo.svg?v=1766044966">
          </a>
          <div class="nav_toggle_close">
            <span class="hamburger">✕</span>
          </div>
        </div>
        <div class="sidebar_navigation">
          <div class="account_nav">
            <div class="nav_link" data-nav="profile">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.3335 14C13.3335 13.0696 13.3335 12.6045 13.2187 12.2259C12.9602 11.3737 12.2932 10.7067 11.4409 10.4481C11.0624 10.3333 10.5973 10.3333 9.66687 10.3333H6.33354C5.40316 10.3333 4.93797 10.3333 4.55944 10.4481C3.70717 10.7067 3.04023 11.3737 2.7817 12.2259C2.66687 12.6045 2.66687 13.0696 2.66687 14M11.0002 5C11.0002 6.65685 9.65707 8 8.0002 8C6.34335 8 5.0002 6.65685 5.0002 5C5.0002 3.34315 6.34335 2 8.0002 2C9.65707 2 11.0002 3.34315 11.0002 5Z" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Profile
            </div>
            <div class="nav_link" data-nav="ledger">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.23645 14C6.70653 14.4149 7.32406 14.6667 8.00033 14.6667C8.67666 14.6667 9.29413 14.4149 9.76419 14M12.0003 5.33333C12.0003 4.27246 11.5789 3.25505 10.8288 2.5049C10.0786 1.75475 9.06119 1.33333 8.00033 1.33333C6.93946 1.33333 5.92206 1.75475 5.17191 2.5049C4.42177 3.25505 4.00034 4.27246 4.00034 5.33333C4.00034 7.39346 3.48065 8.80399 2.90011 9.73693C2.41043 10.5239 2.16558 10.9174 2.17455 11.0272C2.1845 11.1487 2.21025 11.1951 2.30819 11.2677C2.39665 11.3333 2.7954 11.3333 3.59291 11.3333H12.4078C13.2053 11.3333 13.6041 11.3333 13.6925 11.2677C13.7905 11.1951 13.8162 11.1487 13.8261 11.0272C13.8351 10.9174 13.5903 10.5239 13.1006 9.73693C12.52 8.80399 12.0003 7.39346 12.0003 5.33333Z" stroke="#949598" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Ledger
            </div>
            <div class="nav_link" data-nav="refer">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_522_16186)">
                <path d="M4.5 15.0654H6.45772C6.71297 15.0654 6.96666 15.0958 7.21411 15.1565L9.28267 15.6592C9.73147 15.7685 10.1991 15.7792 10.6526 15.6911L12.9398 15.2461C13.5439 15.1284 14.0997 14.8391 14.5352 14.4154L16.1534 12.8413C16.6155 12.3926 16.6155 11.6643 16.1534 11.2148C15.7374 10.8101 15.0785 10.7645 14.6078 11.1077L12.722 12.4837C12.4519 12.6811 12.1232 12.7874 11.7853 12.7874H9.96412H11.1233C11.7767 12.7874 12.3059 12.2725 12.3059 11.6369V11.4069C12.3059 10.8791 11.9367 10.419 11.4106 10.2914L9.62145 9.85635C9.3303 9.7857 9.0321 9.75 8.73232 9.75C8.00872 9.75 6.69892 10.3491 6.69892 10.3491L4.5 11.2687M1.5 10.95V15.3C1.5 15.7201 1.5 15.9301 1.58174 16.0905C1.65365 16.2317 1.76839 16.3463 1.90951 16.4183C2.06994 16.5 2.27996 16.5 2.7 16.5H3.3C3.72004 16.5 3.93006 16.5 4.09049 16.4183C4.23161 16.3464 4.34635 16.2317 4.41826 16.0905C4.5 15.9301 4.5 15.7201 4.5 15.3V10.95C4.5 10.53 4.5 10.3199 4.41826 10.1595C4.34635 10.0184 4.23161 9.90368 4.09049 9.83175C3.93006 9.75 3.72004 9.75 3.3 9.75H2.7C2.27996 9.75 2.06994 9.75 1.90951 9.83175C1.76839 9.90368 1.65365 10.0184 1.58174 10.1595C1.5 10.3199 1.5 10.53 1.5 10.95ZM12.8936 2.6942C12.446 1.75756 11.4139 1.26135 10.4103 1.74029C9.40672 2.21924 8.97915 3.35505 9.39938 4.35213C9.65903 4.96836 10.403 6.16502 10.9336 6.98929C11.1296 7.29385 11.2276 7.44613 11.3708 7.53518C11.4935 7.6116 11.6473 7.65278 11.7918 7.64805C11.9603 7.64243 12.1214 7.55955 12.4433 7.39384C13.3149 6.94525 14.5576 6.28093 15.0906 5.87711C15.953 5.22371 16.1667 4.02269 15.521 3.1097C14.8753 2.19669 13.7495 2.10686 12.8936 2.6942Z" stroke="#949598" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_522_16186">
                <rect width="18" height="18" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              Refer
            </div>
            <div class="nav_link" data-nav="faqs">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6667 11.3333L14 8M14 8L10.6667 4.66667M14 8H6M6 2H5.2C4.07989 2 3.51984 2 3.09202 2.21799C2.71569 2.40973 2.40973 2.71569 2.21799 3.09202C2 3.51984 2 4.07989 2 5.2V10.8C2 11.9201 2 12.4801 2.21799 12.908C2.40973 13.2843 2.71569 13.5903 3.09202 13.782C3.51984 14 4.07989 14 5.2 14H6" stroke="#949598" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              FAQ
            </div>
            <div class="nav_link" data-nav="contact">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.91949 5.9973C6.38349 6.96373 7.01604 7.86946 7.81704 8.67053C8.61811 9.4716 9.52391 10.1041 10.4903 10.5681C10.5734 10.608 10.615 10.628 10.6676 10.6433C10.8545 10.6978 11.084 10.6587 11.2422 10.5453C11.2868 10.5134 11.3249 10.4753 11.4011 10.3991C11.6342 10.166 11.7507 10.0495 11.8679 9.97333C12.3098 9.686 12.8796 9.686 13.3215 9.97333C13.4387 10.0495 13.5552 10.166 13.7883 10.3991L13.9182 10.529C14.2725 10.8833 14.4496 11.0605 14.5458 11.2507C14.7372 11.6291 14.7372 12.0759 14.5458 12.4543C14.4496 12.6445 14.2725 12.8217 13.9182 13.176L13.8131 13.2811C13.46 13.6342 13.2835 13.8107 13.0434 13.9455C12.7771 14.0951 12.3634 14.2027 12.058 14.2018C11.7827 14.201 11.5945 14.1476 11.2182 14.0408C9.19597 13.4668 7.28771 12.3839 5.69575 10.7919C4.10376 9.19986 3.02078 7.2916 2.4468 5.26936C2.33999 4.89306 2.28659 4.70491 2.28577 4.42961C2.28486 4.12413 2.39243 3.71047 2.54205 3.44413C2.67688 3.20411 2.85342 3.02757 3.20651 2.67448L3.31159 2.5694C3.66589 2.2151 3.84304 2.03795 4.03329 1.94172C4.41167 1.75034 4.85851 1.75034 5.23688 1.94172C5.42713 2.03795 5.60429 2.2151 5.95858 2.5694L6.08849 2.69931C6.32156 2.93238 6.4381 3.04892 6.51429 3.1661C6.80162 3.60803 6.80162 4.17775 6.51429 4.61968C6.4381 4.73686 6.32156 4.8534 6.08849 5.08646C6.01229 5.16268 5.97418 5.20078 5.94229 5.24532C5.82895 5.4036 5.78981 5.63311 5.84429 5.82002C5.85963 5.87261 5.87958 5.91417 5.91949 5.9973Z" stroke="#949598" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Contact
            </div>
            <div class="nav_link" data-nav="logout">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.6667 11.3333L14 8M14 8L10.6667 4.66667M14 8H6M6 2H5.2C4.07989 2 3.51984 2 3.09202 2.21799C2.71569 2.40973 2.40973 2.71569 2.21799 3.09202C2 3.51984 2 4.07989 2 5.2V10.8C2 11.9201 2 12.4801 2.21799 12.908C2.40973 13.2843 2.71569 13.5903 3.09202 13.782C3.51984 14 4.07989 14 5.2 14H6" stroke="#949598" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Log out
            </div>
          </div>
        </div>
      </div>
      <div class="account_content">
        <div class="customer account" data-content="profile">
          <div class="main_account_head">
            <h2>My Account</h2>
          </div>
          <div class="edit_account_block">
            Test Account Data
          </div>
        </div>
        <div class="account_ledger" data-content="ledger">
          <div class="main_account_head">
            <h2>Ledger</h2>
          </div>
          <div class="edit_account_block">
            Test Ledger Data
          </div>
        </div>
        <div class="account_refer" data-content="refer">
          <div class="main_account_head">
            <h2>Spread the word</h2>
          </div>
          <div class="edit_account_block">
            Test Refer Data
          </div>
        </div>
        <div class="account_faqs" data-content="faqs">
          <div class="main_account_head">
            <h2>FAQ</h2>
          </div>
          <div class="edit_account_block">
            Test FAQ Data
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function () {
  const navLinks = document.querySelectorAll(".nav_link");
  const contentBlocks = document.querySelectorAll(".account_content > div");
  const sidebar = document.querySelector(".account_sidebar");
  const toggleBtnOpen = document.querySelector(".nav_toggle_open");
  const toggleBtnClose = document.querySelector(".nav_toggle_close");
  function activateTab(name) {
    navLinks.forEach(l => l.classList.remove("active"));
    contentBlocks.forEach(c => c.classList.remove("active"));
    const activeLink = document.querySelector(`.nav_link[data-nav="${name}"]`);
    const activeContent = document.querySelector(`[data-content="${name}"]`);
    if (activeLink) activeLink.classList.add("active");
    if (activeContent) activeContent.classList.add("active");
  }
  activateTab("profile");
  navLinks.forEach(link => {
    link.addEventListener("click", function () {
      const tab = this.dataset.nav;
      activateTab(tab);
      if (window.innerWidth < 992) {
        sidebar.classList.remove("is-open");
        document.body.classList.remove("sidebar-open");
      }
    });
  });
  toggleBtnOpen.addEventListener("click", function () {
    sidebar.classList.add("is-open");
    document.body.classList.add("sidebar-open");
  });
  toggleBtnClose.addEventListener("click", function () {
    sidebar.classList.remove("is-open");
    document.body.classList.remove("sidebar-open");
  });
});
</script>

<script>
  const form = document.getElementById('profile-form');
  const btn = document.getElementById("saveProfileBtn");
  function updateSelectState(select) {
    if (!select) return;

    if (!select.value || select.selectedIndex === 0) {
      select.classList.remove("is-selected-select");
      select.classList.add("is-empty-select");
    } else {
      select.classList.add("is-selected-select");
      select.classList.remove("is-empty-select");
    }
  }
  document.querySelectorAll("select.edit_account_input").forEach(select => {
    // Initial state on page load
    updateSelectState(select);

    // On change
    select.addEventListener("change", function () {
      updateSelectState(this);
    });
  });
  const input = document.getElementById('avatarInput');
  const preview = document.getElementById('avatarPreview');
  const removeBtn = document.getElementById('removeAvatar');
  let existingImageURL = "{{ customer.metafields.custom.profile_image | escape }}";
  let selectedImageFile = null;
  let removeImage = false;
  if (input) {
    input.addEventListener('change', function() {
      const file = this.files[0];
      if (!file) return;

      selectedImageFile = file;
      removeImage = false; // user selected new image

      // Preview
      const reader = new FileReader();
      reader.onload = function(e) {
        preview.innerHTML = `<img src="${e.target.result}">`;
      };
      reader.readAsDataURL(file);
    });
  }
  if (removeBtn) {
    removeBtn.addEventListener('click', function() {
      preview.innerHTML = `<span class="avatar-letter">{{ customer.first_name | slice: 0, 1 }}</span>`;
      selectedImageFile = null;
      existingImageURL = "";
      removeImage = true; // 👈 mark for deletion
    });
  }
  // --------------------
  // VALIDATION
  // --------------------
  const requiredFields = [
    "first_name","last_name","email","phone",
    "address1","city","zip","province","country",
    "age","gender","shoe_size","instagram", "twitter"
  ];
  form.addEventListener("submit", function(e){
    e.preventDefault();

    let valid = true;

    // Reset errors
    document.querySelectorAll(".field-error").forEach(el => {
      el.innerText = "";
      el.style.display = "none";
    });
    document.querySelectorAll(".edit_account_input").forEach(el => {
      el.classList.remove("input-error");
    });

    // Required fields
    requiredFields.forEach(name => {
      const input = form.querySelector(`[name="${name}"]`);
      if (!input || input.value.trim() === "") {
        showError(input, "This Field is Required.");
        valid = false;
      }
    });

    // Email
    const emailInput = form.querySelector('[name="email"]');
    if (emailInput && !/^\S+@\S+\.\S+$/.test(emailInput.value.trim())) {
      showError(emailInput, "Enter valid email address.");
      valid = false;
    }

    // Phone (10 digits only)
    const phoneInput = form.querySelector('[name="phone"]');
    if (phoneInput) {
      const phone = phoneInput.value.trim();

      if (!/^[0-9]{10}$/.test(phone)) {
        showError(phoneInput, "Phone must be 10 digits.");
        valid = false;
      }
    }

    // Age number
    const ageInput = form.querySelector('[name="age"]');
    if (ageInput && isNaN(ageInput.value)) {
      showError(ageInput, "Age must be a number.");
      valid = false;
    }

    if (!valid) {
      scrollToFirstError();
      return;
    }

    submitProfile();
  });
  // --------------------
  // ERROR UI
  // --------------------
  function showError(input, message) {
    if (!input) return;
    input.classList.add("input-error");
    let errorDiv = input.parentElement.querySelector(".field-error");
    if (!errorDiv) {
      errorDiv = document.createElement("div");
      errorDiv.className = "field-error";
      input.parentElement.appendChild(errorDiv);
    }
    errorDiv.innerText = message;
    errorDiv.style.display = "block";
  }
  function scrollToFirstError() {
    const first = document.querySelector(".input-error");
    if (first) first.scrollIntoView({behavior:"smooth", block:"center"});
  }
  // --------------------
  // SUBMIT
  // --------------------
  async function submitProfile() {
    btn.disabled = true;
    btn.innerText = "Saving...";

    const msgBox = document.getElementById("formMessage");
    msgBox.style.display = "none";
    msgBox.className = "form-message";

    const formData = new FormData(form);

    const phoneInput = form.querySelector('[name="phone"]');
    if (phoneInput) {
      const rawPhone = phoneInput.value.trim(); // 10 digits from UI
      formData.set("phone", "+91" + rawPhone);
    }

    // IMAGE LOGIC
    if (removeImage) {
      // Tell backend to remove image
      formData.append("remove_profile_picture", "1");
    } else if (selectedImageFile) {
      // Send new file
      formData.append("profile_picture", selectedImageFile);
    } else {
      // Keep existing
      formData.append("profile_picture", existingImageURL || "");
    }

    const successIconSVG = `
      <svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_344_31474)">
      <path d="M11.001 6.00024C11.001 8.76164 8.76237 11.0002 6.00097 11.0002C3.23955 11.0002 1.00097 8.76164 1.00097 6.00024C1.00097 3.23882 3.23955 1.00024 6.00097 1.00024C8.76237 1.00024 11.001 3.23882 11.001 6.00024Z" fill="#008000" stroke="#008000" stroke-width="0.456675" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3.74992 6L5.24992 7.5L8.24992 4.5" stroke="white" stroke-width="0.989462" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_344_31474">
      <rect width="12" height="12" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      `;

    try {
      const res = await fetch("https://shopifycustom.kretosstechnology.com/api/v1/ludic-kitchen/customer/update", {
        method: "POST",
        body: formData
      });
      const result = await res.json();
      if (!res.ok) throw result;
      // ✅ SUCCESS
      msgBox.innerHTML = `${successIconSVG}<span>Profile updated successfully.</span>`;
      msgBox.className = "form-message success";
      msgBox.style.display = "flex";


    } catch (err) {
      console.error(err);
      msgBox.innerText = "Something went wrong. Please try again.";
      msgBox.classList.add("error");
      msgBox.style.display = "block";
    } finally {
      btn.disabled = false;
      btn.innerText = "Save Profile";
    }
  }
  // --------------------
  // LIVE ERROR CLEARING
  // --------------------
  document.querySelectorAll(".edit_account_input").forEach(input => {
    input.addEventListener("input", function() {
      clearErrorIfValid(this);
    });
    input.addEventListener("change", function() {
      clearErrorIfValid(this);
    });
  });
  function clearErrorIfValid(input) {
    let isValid = true;
    const name = input.name;
    const value = input.value.trim();
    if (requiredFields.includes(name) && value === "") {
      isValid = false;
    }
    if (name === "email" && value !== "" && !/^\S+@\S+\.\S+$/.test(value)) {
      isValid = false;
    }
    if (name === "phone" && value !== "" && !/^[0-9]{10}$/.test(value)) {
      isValid = false;
    }
    if (name === "age" && value !== "" && isNaN(value)) {
      isValid = false;
    }
    if (isValid) {
      removeError(input);
    }
  }
  function removeError(input) {
    input.classList.remove("input-error");
    const errorDiv = input.parentElement.querySelector(".field-error");
    if (errorDiv) {
      errorDiv.innerText = "";
      errorDiv.style.display = "none";
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ]
}
{% endschema %}
