{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}


{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
    #shopify-section-{{ section.id }} .section-customer_account{
      {%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
      {%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
    }
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}

<div class="kretoss-section section-customer_account">
  <div class="{{ container }}" {{ max_width }}>
    <div class="customer account">
      <div class="main_account_head">
        <h2>My Account</h2>
      </div>
      <div class="edit_account_block">
        <form id="profile-form" class="profile_edit_form">
          <input type="hidden" name="customer_id" value="{{ customer.id }}">
          <div class="all_forms_field_blocks">
            <div class="form_field_box">
              <div class="field_head">
                <h4>Profile image</h4>
                <p>This image appears in your profile, comments, and shared caps.</p>
              </div>
              <div class="fields">
                <div class="edit_account_field">
                  <div class="profile_pic_field"></div>
                </div>
              </div>
            </div>
            <div class="form_field_box">
               <div class="field_head">
                <h4>Contact email address</h4>
                <p>This is the email address you used to sign up to Cap with.!</p>
              </div>
              <div class="fields">
                <div class="edit_account_field">
                  <input name="email" value="{{ customer.email }}" class="edit_account_input" placeholder="Email Address">
                </div>
              </div>
            </div>
          </div>
          {% comment %} <h3>Profile</h3>
          <input name="first_name" value="{{ customer.first_name }}">
          <input name="last_name" value="{{ customer.last_name }}">
          <input name="email" value="{{ customer.email }}">
          <input name="phone" value="{{ customer.phone }}">
          <h3>Address</h3>
          {% assign addr = customer.default_address %}
          <input name="address1" value="{{ addr.address1 }}">
          <input name="address2" value="{{ addr.address2 }}">
          <input name="city" value="{{ addr.city }}">
          <input name="zip" value="{{ addr.zip }}">
          <input name="province" value="{{ addr.province }}">
          <input name="country" value="{{ addr.country }}">
          <h3>Extra</h3>
          <input name="age" value="{{ customer.metafields.custom.age }}">
          <input name="gender" value="{{ customer.metafields.custom.gender }}">
          <input name="shoe_size" value="{{ customer.metafields.custom.shoe_size }}">
          <input name="instagram" value="{{ customer.metafields.custom.instagram }}">
          <button type="submit">Save</button> {% endcomment %}
        </form>
      </div>
      {% comment %} <div>
        <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
        <a href="{{ routes.account_logout_url }}">
          <span class="svg-wrapper">
            {{- 'icon-account.svg' | inline_asset_content -}}
          </span>
          {{ 'customer.log_out' | t }}
        </a>
      </div>
      <div>
        <div>
          <h2>{{ 'customer.orders.title' | t }}</h2>

          {% paginate customer.orders by 20 %}
            {%- if customer.orders.size > 0 -%}
              <table role="table" class="order-history">
                <caption class="visually-hidden">
                  {{ 'customer.orders.title' | t }}
                </caption>
                <thead role="rowgroup">
                  <tr role="row">
                    <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                    <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                    <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                    <th id="ColumnFulfillment" scope="col" role="columnheader">
                      {{ 'customer.orders.fulfillment_status' | t }}
                    </th>
                    <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                  {%- for order in customer.orders -%}
                    <tr role="row">
                      <td
                        id="RowOrder"
                        role="cell"
                        headers="ColumnOrder"
                        data-label="{{ 'customer.orders.order_number' | t }}"
                      >
                        <a
                          href="{{ order.customer_url }}"
                          aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                        >
                          {{ order.name }}
                        </a>
                      </td>
                      <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                        {{ order.created_at | time_tag: format: 'date' }}
                      </td>
                      <td
                        headers="RowOrder ColumnPayment"
                        role="cell"
                        data-label="{{ 'customer.orders.payment_status' | t }}"
                      >
                        {{ order.financial_status_label }}
                      </td>
                      <td
                        headers="RowOrder ColumnFulfillment"
                        role="cell"
                        data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                      >
                        {{ order.fulfillment_status_label }}
                      </td>
                      <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                        {{ order.total_net_amount | money_with_currency }}
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            {%- else -%}
              <p>{{ 'customer.orders.none' | t }}</p>
            {%- endif -%}

            {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
                <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                  <ul role="list">
                    {%- if paginate.previous -%}
                      <li>
                        <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- for part in paginate.parts -%}
                      <li>
                        {%- if part.is_link -%}
                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                            {{- part.title -}}
                          </a>
                        {%- else -%}
                          {%- if part.title == paginate.current_page -%}
                            <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                              {{- part.title -}}
                            </span>
                          {%- else -%}
                            <span>{{ part.title }}</span>
                          {%- endif -%}
                        {%- endif -%}
                      </li>
                    {%- endfor -%}

                    {%- if paginate.next -%}
                      <li>
                        <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </nav>
              {%- endif -%}
            {%- endif -%}
          {% endpaginate %}
        </div>

        <div>
          <h2>{{ 'customer.account.details' | t }}</h2>

          {{ customer.default_address | format_address }}

          <a href="{{ routes.account_addresses_url }}">
            {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
          </a>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ]
}
{% endschema %}
