{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}


{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
    #shopify-section-{{ section.id }} .section-customer_account{
      {%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
      {%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
    }
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-customer_account{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}


<div class="kretoss-section section-customer_account">
  <div class="{{ container }}" {{ max_width }}>
    <div class="account_dashboard">
      <div class="account_sidebar_overlay"> </div>
      <div class="account_sidebar">
        <div class="sidebar_content">
          <div class="sidebar_header">
            <a href="{{ shop.url }}">
              <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/ludic_kitchen.svg?v=1770188125">
            </a>
          </div>
          <div class="sidebar_navigation">
            <div class="account_nav">
              <div class="nav_link" data-nav="profile">
                Account Details
              </div>
              <div class="nav_link" data-nav="ledger">
                Ledger
              </div>
              <div class="nav_link" data-nav="refer">
                Spread the word
              </div>
              <div class="nav_link" data-nav="contact">
                Contact us
              </div>
              <div class="nav_link mobile_sidebar_content" data-nav="logout">
                Log out
              </div>
            </div>
          </div>
        </div>
        <div class="nav_link desktop_sidebar_content" data-nav="logout">
          Log out
        </div>
      </div>
      <div class="account_content">
        <div class="nav_toggle">
          <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.833252 0.833252L5.83325 5.83325L10.8333 0.833252" stroke="black" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="customer account account_dashboard_content" data-content="profile">
          <div class="main_account_head">
            <h2>Account Details</h2>
          </div>
          <div class="dashboard_content_area">
            <form id="profile-form" class="profile_edit_form">
              <input type="hidden" name="customer_id" value="{{ customer.id }}">
              <div class="all_forms_field_blocks">
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Profile Image</h4>
                    <p>This image appears in your My Account section.</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field">
                      <div class="profile_pic_field">
                        <div class="profile-image-uploader">
                          {% assign profile_img = customer.metafields.custom.profile_image %}
                          <div class="avatar-preview" id="avatarPreview">
                            {% if profile_img != blank %}
                              <img src="{{ profile_img }}" id="avatarImg">
                            {% else %}
                              <span class="avatar-letter">{{ customer.first_name | slice: 0, 1 }}</span>
                            {% endif %}
                          </div>
                          <div class="avatar-actions_info">
                            <div class="avatar-actions">
                              <label class="upload-btn">
                                Upload Image
                                <input type="file" id="avatarInput" accept="image/*" hidden>
                              </label>
                              <button type="button" id="removeAvatar" class="remove-btn">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M6 2H10M2 4H14M12.6667 4L12.1991 11.0129C12.129 12.065 12.0939 12.5911 11.8667 12.99C11.6666 13.3412 11.3648 13.6235 11.0011 13.7998C10.588 14 10.0607 14 9.0062 14H6.9938C5.93927 14 5.41202 14 4.99889 13.7998C4.63517 13.6235 4.33339 13.3412 4.13332 12.99C3.90607 12.5911 3.871 12.065 3.80086 11.0129L3.33333 4M6.66667 7V10.3333M9.33333 7V10.3333" stroke="#C6C6C6" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </button>
                            </div>
                            <small>Recommended size: 120x120</small>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Your Full Name</h4>
                    <p>This will appear in all places you're involved as a co-creator.</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field">
                      <input name="first_name" value="{{ customer.first_name }}" class="edit_account_input" placeholder="First Name">
                      <div class="field-error"></div>
                    </div>
                    <div class="edit_account_field">
                      <input name="last_name" value="{{ customer.last_name }}" class="edit_account_input" placeholder="Last Name">
                      <div class="field-error"></div>
                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Email Address</h4>
                    <p>This is the email address you used to sign up into the Kitchen.</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field">
                      <input name="email" value="{{ customer.email }}" class="edit_account_input disabled" placeholder="Email Address" disabled>
                      <div class="field-error"></div>
                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Contact Number</h4>
                    <p>This is the contact you used to sign up into the Kitchen.</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field phone_edit_field">
                      <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_287_35)">
                        <path d="M0 0H24V5.33333H0V0Z" fill="#FF9933"/>
                        <path d="M0 5H24V10.3333H0V5Z" fill="white"/>
                        <path d="M0 10.6667H24V16H0V10.6667Z" fill="#138808"/>
                        <path d="M12.0004 9.60002C12.884 9.60002 13.6004 8.88368 13.6004 8.00002C13.6004 7.11637 12.884 6.40002 12.0004 6.40002C11.1167 6.40002 10.4004 7.11637 10.4004 8.00002C10.4004 8.88368 11.1167 9.60002 12.0004 9.60002Z" stroke="#000080" stroke-width="0.187135"/>
                        <path d="M11.9998 8.16003C12.0882 8.16003 12.1598 8.08839 12.1598 8.00003C12.1598 7.91166 12.0882 7.84003 11.9998 7.84003C11.9115 7.84003 11.8398 7.91166 11.8398 8.00003C11.8398 8.08839 11.9115 8.16003 11.9998 8.16003Z" fill="#000080"/>
                        <path d="M12.4115 6.13021L11.5881 9.20305L12.4115 6.13021ZM12.4115 6.13021L11.5881 9.20305L12.4115 6.13021ZM12.7951 6.28909L11.2045 9.04418L12.7951 6.28909ZM13.1246 6.54186L10.8751 8.7914L13.1246 6.54186ZM13.3774 6.87131L10.6223 8.46195L13.3774 6.87131ZM13.5362 7.25494L10.4634 8.07833L13.5362 7.25494ZM13.5905 7.66663H10.4092H13.5905ZM13.5362 8.07833L10.4634 7.25494L13.5362 8.07833ZM13.3774 8.46195L10.6223 6.87131L13.3774 8.46195ZM13.1246 8.7914L10.8751 6.54186L13.1246 8.7914ZM12.7951 9.04418L11.2045 6.28909L12.7951 9.04418ZM12.4115 9.20305L11.5881 6.13021L12.4115 9.20305ZM11.9998 9.25728V6.07599V9.25728ZM12.4115 6.13021L11.5881 9.20305L12.4115 6.13021ZM12.7951 6.28909L11.2045 9.04418L12.7951 6.28909ZM13.1246 6.54186L10.8751 8.7914L13.1246 6.54186ZM13.3774 6.87131L10.6223 8.46195L13.3774 6.87131ZM13.5362 7.25494L10.4634 8.07833L13.5362 7.25494ZM13.5905 7.66663H10.4092H13.5905ZM13.5362 8.07833L10.4634 7.25494L13.5362 8.07833ZM13.3774 8.46195L10.6223 6.87131L13.3774 8.46195ZM13.1246 8.7914L10.8751 6.54186L13.1246 8.7914ZM12.7951 9.04418L11.2045 6.28909L12.7951 9.04418ZM12.4115 9.20305L11.5881 6.13021L12.4115 9.20305Z" fill="black"/>
                        <path d="M12.4115 6.13021L11.5881 9.20305M12.7951 6.28909L11.2045 9.04418M13.1246 6.54186L10.8751 8.7914M13.3774 6.87131L10.6223 8.46195M13.5362 7.25494L10.4634 8.07833M13.5905 7.66663H10.4092M13.5362 8.07833L10.4634 7.25494M13.3774 8.46195L10.6223 6.87131M13.1246 8.7914L10.8751 6.54186M12.7951 9.04418L11.2045 6.28909M12.4115 9.20305L11.5881 6.13021M11.9998 9.25728V6.07599" stroke="#000080" stroke-width="0.0935673"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_287_35">
                        <rect width="24" height="16" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                      <span>+91</span>
                      <input name="phone" value="{{ customer.phone | remove: '+91' | strip }}" class="edit_account_input phone_input disabled" placeholder="phone" type="tel" inputmode="numeric" pattern="[0-9]{10}" minlength="10" maxlength="10" disabled>
                      <div class="field-error"></div>
                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>About You</h4>
                    <p>Identify your gender and the years on earth.</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field">
                        <select name="gender" class="edit_account_input">
                          <option value="">Select Gender</option>
                          <option value="Male" {% if customer.metafields.custom.gender == "Male" %}selected{% endif %}>Male</option>
                          <option value="Female" {% if customer.metafields.custom.gender == "Female" %}selected{% endif %}>Female</option>
                          <option value="Prefer not to say" {% if customer.metafields.custom.gender == "Prefer not to say" %}selected{% endif %}>Prefer not to say</option>
                        </select>
                      <div class="field-error"></div>
                    </div>
                    <div class="edit_account_field">
                      <select name="age" class="edit_account_input">
                        <option value="">Select Age</option>
                        {% for i in (18..99) %}
                          <option value="{{ i }}" {% if customer.metafields.custom.age == i %}selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                      </select>
                      <div class="field-error"></div>
                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Socials</h4>
                    <p>Where else do you exist?</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field">
                      <input name="instagram" value="{{ customer.metafields.custom.instagram }}" class="edit_account_input" placeholder="Instagram">
                      <div class="field-error"></div>
                    </div>
                    <div class="edit_account_field">
                      <input name="twitter" value="{{ customer.metafields.custom.twitter }}" class="edit_account_input" placeholder="Twitter">
                      <div class="field-error"></div>
                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Shipping Address</h4>
                    <p>This is where your co-created product will be delivered.</p>
                  </div>
                  <div class="fields">
                    <div class="edit_account_field">
                      <input name="address1" value="{{ customer.default_address.address1 }}" class="edit_account_input" placeholder="Address Line 1">
                      <div class="field-error"></div>
                    </div>
                    <div class="edit_account_field">
                      <input name="address2" value="{{ customer.default_address.address2 }}" class="edit_account_input" placeholder="Address Line 2">
                    </div>
                    <div class="edit_account_col">
                      <div class="edit_account_field">
                        <input name="city" value="{{ customer.default_address.city }}" class="edit_account_input" placeholder="City / District">
                        <div class="field-error"></div>
                      </div>
                      <div class="edit_account_field">
                        <input name="province" value="{{ customer.default_address.province }}" class="edit_account_input" placeholder="State / Province">
                        <div class="field-error"></div>
                      </div>
                    </div>
                    <div class="edit_account_col">
                      <div class="edit_account_field">
                        <input name="zip" value="{{ customer.default_address.zip }}" class="edit_account_input" placeholder="Postal Code">
                        <div class="field-error"></div>
                      </div>
                      <div class="edit_account_field">
                        <input name="country" value="{{ customer.default_address.country }}" class="edit_account_input" placeholder="Country">
                        <div class="field-error"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form_field_box">
                  <div class="field_head">
                    <h4>Size and Fit</h4>
                    <p>Enter your true sizes for perfect Fit.</p>
                  </div>
                  <div class="fields size_fields">
                    <div class="edit_account_field">
                      <label>Footwear size</label>
                      <select name="shoe_size" class="edit_account_input">
                        <option value="">Select Footwear Size</option>
                        {% for i in (3..12) %}
                          {% assign size_value = "UK " | append: i %}
                          <option value="{{ size_value }}" {% if customer.metafields.custom.shoe_size == size_value %}selected{% endif %}>
                            {{ size_value }}
                          </option>
                        {% endfor %}
                      </select>
                      <div class="field-error"></div>
                    </div>
                    <div class="edit_account_field">
                      <label>Apparel size</label>
                      <select name="apparel_size" class="edit_account_input">
                        <option value="">Select Appereal Size</option>
                        <option value="XS" {% if customer.metafields.custom.apparel_size == 'XS' %}selected{% endif %}>XS</option>
                        <option value="S" {% if customer.metafields.custom.apparel_size == 'S' %}selected{% endif %}>S</option>
                        <option value="M" {% if customer.metafields.custom.apparel_size == 'M' %}selected{% endif %}>M</option>
                        <option value="L" {% if customer.metafields.custom.apparel_size == 'L' %}selected{% endif %}>L</option>
                        <option value="XL" {% if customer.metafields.custom.apparel_size == 'XL' %}selected{% endif %}>XL</option>
                        <option value="XXL" {% if customer.metafields.custom.apparel_size == 'XXL' %}selected{% endif %}>XXL</option>
                      </select>
                      <div class="field-error"></div>
                    </div>
                  </div>
                </div>
                <div class="form_submit_wrap">
                  <div class="save_btn">
                    <button type="submit" id="saveProfileBtn" class="btn theme_btn">Save</button>
                    {% comment %} <a href="{{ routes.account_logout_url }}" class="logout_link">
                      {{ 'customer.log_out' | t }}
                    </a> {% endcomment %}
                  </div>
                  <div id="formMessage" class="form-message"></div>
                </div>
                
              </div>
            </form>
          </div>
        </div>
        <div class="account_ledger account_dashboard_content" data-content="ledger">
          <div class="main_account_head">
            <h2>Ledger</h2>
          </div>
          <div class="dashboard_content_area">
            <div class="ledger_content_area">
              {% if customer %}
                {% if customer.orders.size > 0 %}
                  {% for order in customer.orders %}
                    {% for line_item in order.line_items %}
                      {% assign product = line_item.product %}
                      {% if product != blank %}
                        {% if line_item.variant.title == 'Taster' %}
                          <div class="project_ledger_updates_fallback">
                            <div class="fallback_blur_area">
                              <div class="fallback_blur_top">
                                <div class="fallback_blur_left">
                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur1.png?v=1769758546" class="fallback_desktop_img">
                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur1.png?v=1769770221" class="fallback_mobile_img">
                                </div>
                                <div class="fallback_blur_right">
                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur2.png?v=1769758546" class="fallback_desktop_img">
                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur3.png?v=1769758546" class="fallback_desktop_img">

                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur2.png?v=1769770221" class="fallback_mobile_img" >
                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur3.png?v=1769770221" class="fallback_mobile_img">
                                </div>
                              </div>
                              <div class="fallback_blur_bottom">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur4.png?v=1769758546"
                                class="fallback_desktop_img">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur4.png?v=1769770220" class="fallback_mobile_img">
                              </div>
                            </div>
                            <div class="ledger_fallback_content_area">
                              <div class="ledger_fallback_content">
                                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/animation_logo.svg">
                                <div class="ledger_fallback_data">
                                  <h4>Limited access space</h4>
                                  <p>This space is only open to Sous Chefs (T2) and Head Chefs (T3).</p>
                                </div>
                                <a href="{{ shop.url }}/products/project-01" class="fallback_action">Back the project</a>
                              </div>
                            </div>
                          </div>
                        {% else %}
                          {% if line_item.variant.title == 'Sous Chef' %}
                          <div class="chef_inner">
                            <div class="chef_content">
                              <div class="field_head">
                                <span>Project 01</span>
                                <h4>Sous Chef, {{ customer.first_name }}</h4>
                                <p>You're part of the Kitchen's middle ground, where most of the action lives. As a Sous Chef, you use the Ludic Ledger to follow projects from idea to product. You see decisions, progress, and timelines unfold in real time, so even when things get unpredictable, you're never guessing. Meaningful participation without going overboard.</p>
                              </div>
                            </div>
                            <div class="chefs-logo">
                              <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/sous_chef.svg?v=1770017692">
                            </div>
                          </div>
                          {% elsif line_item.variant.title == 'Head Chef' %}
                             <div class="chef_inner">
                                <div class="chef_content">
                                  <div class="field_head">
                                    <span>Project 01</span>
                                    <h4>Head Chef, {{ customer.first_name }}</h4>
                                    <p>You're at the front of the Kitchen - close, decisive, and deeply involved. As a Head Chef, you use the Ludic Ledger to follow projects from idea to product. You see progress as it happens, and stay ahead of the process, with access that goes beyond the surface and into how things truly get made.</p>
                                  </div>
                                </div>
                                <div class="chefs-logo">
                                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/head_chef.svg?v=1770017691">
                                </div>
                              </div>
                          {% endif %}
                          <div class="project_ledger_updates">
                            <div class="project_progress_inner">
                                <div class="project_progress_left">
                                  {% assign raised_amount = product.metafields.custom.raised_amount | default: 0 %}
                                  {% assign ludic_spent_amount = product.metafields.custom.ludic_amount | default: 0 %}
                                  {% assign goal_amount = product.metafields.custom.project_goal | default: 1 %}

                                  {%- comment -%} Calculate overall progress percentage {%- endcomment -%}
                                  {% assign progress = raised_amount | times: 100.0 | divided_by: goal_amount | round: 0 %}
                                  {% if progress > 100 %}
                                  {% assign progress = 100 %}
                                  {% endif %}

                                  {% assign bar_width = progress %} {% if bar_width < 2 %} {% assign bar_width = 2 %} {% endif %}

                                  {%- comment -%} Calculate Ludic spent percentage {%- endcomment -%}
                                  {% assign red_width = ludic_spent_amount | times: 100.0 | divided_by: goal_amount | round: 0 %}
                                  {% if red_width > 100 %}
                                  {% assign red_width = 100 %}
                                  {% endif %}

                                  {%- comment -%} Remaining progress for blue bar {%- endcomment -%}
                                  {% assign blue_width = progress | minus: red_width %}
                                  {% if blue_width < 0 %}
                                  {% assign blue_width = 0 %}
                                  {% endif %}


                                  {% assign raised = raised_amount | times: 1.0 %}
                                  {% comment %} {% if raised >= 10000000 %}
                                      {% assign raised_display = raised | divided_by: 10000000.0 | round: 2 | append: 'Cr' %}
                                  {% elsif raised >= 100000 %}
                                      {% assign raised_display = raised | divided_by: 100000.0 | round: 1 | append: 'L' %}
                                  {% else %}
                                      {% assign raised_display = raised | money_without_currency %}
                                  {% endif %} {% endcomment %}
                                  
                                  {% assign goal = goal_amount | times: 1.0 %}
                                  {% comment %} {% if goal >= 10000000 %}
                                      {% assign goal_display = goal | divided_by: 10000000.0 | round: 2 | append: 'Cr' %}
                                  {% elsif goal >= 100000 %}
                                      {% assign goal_display = goal | divided_by: 100000.0 | round: 1 | append: 'L' %}
                                  {% else %}
                                      {% assign goal_display = goal | money_without_currency %}
                                  {% endif %} {% endcomment %}

                                  <div class="goal_progress">
                                      <div class="progress_data">
                                          <div class="goal_raised">
                                              <h2 class="js-indian-number js-counter" data-value="{{ raised_amount }}">₹</h2>
                                              <span>Raised till now</span>
                                          </div>
                                          <div class="goal_total">
                                              <h2 class="js-indian-number" data-value="{{ goal_amount }}">₹</h2>
                                              <span>Our total goal</span>
                                          </div>
                                      </div>
                                      <div class="goal_raised_progress_bar">
                                          <div class="raised_progress_track">
                                              {% if red_width > 0 %}
                                                  <div class="progress_fill red_fill" style="width: {{ red_width }}%;"> </div>
                                              {% endif %}
                                              {% if bar_width > red_width %}
                                                  <div class="progress_fill blue_fill" style="width: {{ bar_width }}%;"> </div>
                                              {% endif %}
                                              <div class="milestone-75" style="--milestone_percentage: 75%;">
                                                  <span class="milestone-percentage">75%</span>
                                                  <span class="milestone-tooltip">Production starts from here</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="total_raised_percentage">
                                          <h3>{{ progress }}%</h3><span>Raised</span>
                                      </div>
                                      <p class="goal_info">Ludic has already put <span class="js-indian-number" data-value="{{ ludic_spent_amount }}">₹</span> on the table because we believed in this first.</p>
                                  </div>
                                </div>
                                <div class="project_progress_right">
                                  <div class="top_data">

                                      {% assign current_backers = 0 %}
                                      {% assign target_backers = 0 %}

                                      {% for variant in product.variants %}
                                          {% assign variant_current = variant.metafields.custom.current_reached_tier_goal | default: 0 %}
                                          {% assign variant_total = variant.metafields.custom.total_tier_goal | default: 0 %}

                                          {% assign current_backers = current_backers | plus: variant_current %}
                                          {% assign target_backers = target_backers | plus: variant_total %}
                                      {% endfor %}

                                      {% if target_backers > 0 %}
                                      {% assign backers_progress = current_backers | times: 100.0 | divided_by: target_backers | round: 2 %}
                                      {% else %}
                                      {% assign backers_progress = 0 %}
                                      {% endif %}

                                      {% if backers_progress > 100 %}
                                      {% assign backers_progress = 100 %}
                                      {% endif %}

                                      {% assign backers_bar_width = backers_progress %}
                                      {% if backers_bar_width < 2 %}
                                      {% assign backers_bar_width = 2 %}
                                      {% endif %}

                                      <div class="total_backers_data">
                                      <h4>Total Backers</h4>
                                      <div class="total_raised_progress_bar">
                                          <div class="total_backers_track">
                                          <div
                                              class="total_backers_progress_fill"
                                              style="width: {{ backers_bar_width }}%;">
                                          </div>
                                          </div>
                                      </div>
                                      <div class="total_backers_percentage">
                                          <h3>{{ current_backers }}</h3>
                                          <span>Backers</span>
                                      </div>
                                      </div>

                                      <div class="days-gauge">
                                          {% assign total_days = 60 %}
                                          {% assign start_date = product.metafields.custom.project_goal_start_date %}
                                          {% assign start_ts = start_date | date: "%s" %}
                                          {% assign today_ts = "now" | date: "%s" %}
                                          {% assign seconds_diff = today_ts | minus: start_ts %}
                                          {% assign days_passed = seconds_diff | divided_by: 86400 | floor %}
                                          {% assign days_left = total_days | minus: days_passed %}
                                          {% if days_left < 0 %}
                                              {% assign days_left = 0 %}
                                          {% endif %}
                                          {% if days_left > total_days %}
                                              {% assign days_left = total_days %}
                                          {% endif %}
                                          <div class="gauge-header">
                                              <h3>Days</h3>
                                          </div>
                                          <div class="gauge-wrapper">
                                              <svg viewBox="0 0 200 120" class="gauge-svg">
                                              <g id="gaugeTicks" class="gaugeTicks"></g>

                                              <path
                                                  d="M30 100 A70 70 0 0 1 170 100"
                                                  fill="none"
                                                  stroke="#D9D9D9"
                                                  stroke-width="5"
                                                  pathLength="100"
                                              />

                                              <path
                                                  class="progressArc"
                                                  id="progressArc"
                                                  d="M30 100 A70 70 0 0 1 170 100"
                                                  fill="none"
                                                  stroke="#214ECF"
                                                  stroke-width="5"
                                                  stroke-linecap="round"
                                                  pathLength="100"
                                                  stroke-dasharray="0 100"
                                              />
                                              </svg>

                                              <div class="gauge-center">
                                              <h2 id="daysLeft" class="daysLeftNumber">{{ days_left }}</h2>
                                              <span>Days left</span>
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                                </div>
                            </div> 
                            <div class="ledger_update_area">
                              <div class="ledger_update_head">
                                <h5>Ledger</h5>
                                <p>Tracks the process, progress, updates transparently to ensure that contribution comes with visibility.</p>
                              </div>
                              <div class="ledger_updates">
                                {% comment %} {% assign dates = product.metafields.custom.ledger_update_date.value %}
                                {% assign events = product.metafields.custom.ledger_update_events.value %}
                                {% assign links_text  = product.metafields.custom.ledger_update_link_text.value %}
                                {% assign links  = product.metafields.custom.ledger_update_link.value %} {% endcomment %}

                                {%- comment -%} Ledger source resolution: Variant → Product fallback {%- endcomment -%}
                                {% assign dates = blank %}
                                {% assign events = blank %}
                                {% assign links_text = blank %}
                                {% assign links = blank %}

                                {%- comment -%} 1️⃣ Variant metafields (highest priority) {%- endcomment -%}
                                {% if line_item.variant.metafields.custom.ledger_update_date.value != blank %}
                                  {% assign dates = line_item.variant.metafields.custom.ledger_update_date.value %}
                                  {% assign events = line_item.variant.metafields.custom.ledger_update_events.value %}
                                  {% assign links_text = line_item.variant.metafields.custom.ledger_update_link_text.value %}
                                  {% assign links = line_item.variant.metafields.custom.ledger_update_link.value %}
                                {% endif %}

                                {%- comment -%} 2️⃣ Product metafields fallback (Sous + Head only) {%- endcomment -%}
                                {% if dates == blank and line_item.variant.title != 'Taster' %}
                                  {% if product.metafields.custom.ledger_update_date.value != blank %}
                                    {% assign dates = product.metafields.custom.ledger_update_date.value %}
                                    {% assign events = product.metafields.custom.ledger_update_events.value %}
                                    {% assign links_text = product.metafields.custom.ledger_update_link_text.value %}
                                    {% assign links = product.metafields.custom.ledger_update_link.value %}
                                  {% endif %}
                                {% endif %}


                                {% if dates != blank %}
                                <div class="all_updates_ledger">
                                  
                                  <div class="leader_update_info head">
                                    <h2>Date</h2>
                                    <h2>Event</h2>
                                    <h2>Link</h2>
                                  </div>

                                  {% for date_item in dates %}
                                    {% assign index = forloop.index0 %}

                                    {% assign date_parts  = date_item | split: '||' %}
                                    {% assign event_parts = events[index] | split: '||' %}
                                    {% assign link_text_parts  = links_text[index] | split: '||' %}
                                    {% assign link_parts  = links[index] | split: '||' %}

                                    <div class="leader_update_info">
                                      <p class="leader_update_date">
                                        {{ date_parts[1] | strip | date: "%a, %b %d"  }}
                                      </p>

                                      <div class="leader_update_event">
                                        {{ event_parts[1] | strip }}
                                      </div>

                                      <div class="leader_update_url">
                                        <a href="{{ link_parts[1] | strip }}" target="_blank">
                                          {{ link_text_parts[1] | strip }}
                                        </a>
                                      </div>
                                    </div>

                                  {% endfor %}

                                </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% else %}  
                  <div class="project_ledger_updates_fallback">
                    <div class="fallback_blur_area">
                      <div class="fallback_blur_top">
                        <div class="fallback_blur_left">
                          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur1.png?v=1769758546" class="fallback_desktop_img">
                          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur1.png?v=1769770221" class="fallback_mobile_img">
                        </div>
                        <div class="fallback_blur_right">
                          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur2.png?v=1769758546" class="fallback_desktop_img">
                          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur3.png?v=1769758546" class="fallback_desktop_img">

                          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur2.png?v=1769770221" class="fallback_mobile_img" >
                          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur3.png?v=1769770221" class="fallback_mobile_img">
                        </div>
                      </div>
                      <div class="fallback_blur_bottom">
                        <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/blur4.png?v=1769758546"
                        class="fallback_desktop_img">
                        <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/mobile-blur4.png?v=1769770220" class="fallback_mobile_img">
                      </div>
                    </div>
                    <div class="ledger_fallback_content_area">
                      <div class="ledger_fallback_content">
                        <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/animation_logo.svg">
                        <div class="ledger_fallback_data">
                          <h4>Backers-only access</h4>
                          <p>This space opens once you back the project and sign up into the Kitchen.</p>
                        </div>
                        <a href="{{ shop.url }}/products/project-01" class="fallback_action">Back the project</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="account_spread-the-word account_dashboard_content" data-content="refer">
          <div class="main_account_head">
            <h2>Spread the word</h2>
          </div>
          <div class="dashboard_content_area">
            <div class="spread_the_word_inner">
              <div class="spread_the_word_content">
                <div class="field_head">
                  <h4>Spread the word</h4>
                  <p>Invite your people to the table. Share the Kitchen with them and create together.</p>
                </div>
                <div class="edit_account_field">
                  <input name="link" value="ludic-kitchen.myshopify.com/" class="disabled" disabled placeholder="ludic-kitchen.myshopify.com/">
                  <div class="field-error"></div>
                  <div class="copy-link-btn" id="copyLinkBtn">
                     {% assign share_url = shop.url %}
                      {% liquid 
                        render 'share-button', block.settings.share_label: 'Share', share_link: share_url
                      %}
                  </div>
                </div>
              </div>
              <div class="spread_logo">
                <div>
                  <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/animation_logo.svg?v=1766995833">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const navLinks = document.querySelectorAll(".nav_link");
    const contentBlocks = document.querySelectorAll(".account_content .account_dashboard_content");
    const sidebar = document.querySelector(".account_sidebar");
    const toggleBtn = document.querySelector(".nav_toggle");
    const overlay = document.querySelector(".account_sidebar_overlay");

    if (overlay) {
      overlay.addEventListener("click", function () {
        // ✅ mobile only
        if (window.innerWidth < 992) {
          sidebar.classList.remove("is-open");
          document.body.classList.remove("sidebar-open");
        }
      });
    }

    function activateTab(name, pushHash = true) {
      navLinks.forEach(l => l.classList.remove("active"));
      contentBlocks.forEach(c => c.classList.remove("active"));

      const activeLink = document.querySelector(`.nav_link[data-nav="${name}"]`);
      const activeContent = document.querySelector(`[data-content="${name}"]`);

      if (activeLink) activeLink.classList.add("active");
      if (activeContent) activeContent.classList.add("active");

      if (pushHash) {
        history.replaceState(null, "", "#" + name);
      }
    }

    // ===== INITIAL TAB =====
    const allowedTabs = ["profile", "ledger", "refer", "contact"];
    let initialTab = window.location.hash.replace("#", "");

    if (!allowedTabs.includes(initialTab)) {
      initialTab = "profile";
    }

    activateTab(initialTab, false);

    // ===== NAV CLICK =====
    navLinks.forEach(link => {
      link.addEventListener("click", function () {
        const tab = this.dataset.nav;

        if (tab === "logout") {
          window.location.href = "/account/logout";
          return;
        }

        if (tab === "contact") {
          window.location.href = "mailto:kitchen@ludic.life";
          return;
        }

        activateTab(tab);

        // 👇 auto close on mobile
        if (window.innerWidth < 992) {
          sidebar.classList.remove("is-open");
          document.body.classList.remove("sidebar-open");
        }
      });
    });

    // ===== SINGLE TOGGLE (OPEN / CLOSE) =====
    if (toggleBtn) {
      toggleBtn.addEventListener("click", function () {
        sidebar.classList.toggle("is-open");
        document.body.classList.toggle("sidebar-open");
      });
    }

    // ===== BACK / FORWARD =====
    window.addEventListener("hashchange", function () {
      const tab = window.location.hash.replace("#", "");
      if (allowedTabs.includes(tab)) {
        activateTab(tab, false);
      }
    });
  });
</script>



<script>
  const form = document.getElementById('profile-form');
  const btn = document.getElementById("saveProfileBtn");
  let formDirty = false;

  // Enable button
  function enableSaveButton() {
    if (!formDirty) {
      formDirty = true;
      btn.disabled = false;
      btn.classList.add("active");
    }
  }

  // Disable button (after successful save)
  function disableSaveButton() {
    formDirty = false;
    btn.disabled = true;
    btn.classList.remove("active");
  }

  // Listen to ALL inputs/selects
  form.querySelectorAll("input, select, textarea").forEach(el => {
    el.addEventListener("input", enableSaveButton);
    el.addEventListener("change", enableSaveButton);
  });

  function updateSelectState(select) {
    if (!select) return;

    if (!select.value || select.selectedIndex === 0) {
      select.classList.remove("is-selected-select");
      select.classList.add("is-empty-select");
    } else {
      select.classList.add("is-selected-select");
      select.classList.remove("is-empty-select");
    }
  }
  document.querySelectorAll("select.edit_account_input").forEach(select => {
    // Initial state on page load
    updateSelectState(select);

    // On change
    select.addEventListener("change", function () {
      updateSelectState(this);
    });
  });
  const input = document.getElementById('avatarInput');
  const preview = document.getElementById('avatarPreview');
  const removeBtn = document.getElementById('removeAvatar');
  let existingImageURL = "{{ customer.metafields.custom.profile_image | escape }}";
  let selectedImageFile = null;
  let removeImage = false;
  if (input) {
    input.addEventListener('change', function() {
      const file = this.files[0];
      if (!file) return;

      selectedImageFile = file;
      removeImage = false; // user selected new image

      enableSaveButton();
      // Preview
      const reader = new FileReader();
      reader.onload = function(e) {
        preview.innerHTML = `<img src="${e.target.result}">`;
      };
      reader.readAsDataURL(file);
    });
  }
  {% comment %} if (removeBtn) {
    removeBtn.addEventListener('click', function() {
      preview.innerHTML = `<span class="avatar-letter">{{ customer.first_name | slice: 0, 1 }}</span>`;
      selectedImageFile = null;
      existingImageURL = "";
      removeImage = true; // 👈 mark for deletion
      enableSaveButton();
    });
  } {% endcomment %}

  if (removeBtn) {
    removeBtn.addEventListener('click', function() {
      preview.innerHTML = `<span class="avatar-letter">{{ customer.first_name | slice: 0, 1 }}</span>`;

      // 🔑 FULL RESET
      selectedImageFile = null;
      existingImageURL = "";
      removeImage = true;

      // 🔑 CRITICAL: reset file input so SAME file can be re-selected
      input.value = "";

      enableSaveButton();
    });
  }




  // --------------------
  // VALIDATION
  // --------------------
  const requiredFields = [
    "first_name","last_name","email","phone",
    "address1","city","zip","province","country",
    "age","gender","shoe_size","apparel_size"
  ];
  form.addEventListener("submit", function(e){
    e.preventDefault();

    let valid = true;

    // Reset errors
    document.querySelectorAll(".field-error").forEach(el => {
      el.innerText = "";
      el.style.display = "none";
    });
    document.querySelectorAll(".edit_account_input").forEach(el => {
      el.classList.remove("input-error");
    });

    // Required fields
    requiredFields.forEach(name => {
      const input = form.querySelector(`[name="${name}"]`);
      if (!input || input.value.trim() === "") {
        showError(input, "This Field is Required.");
        valid = false;
      }
    });

    // Email
    const emailInput = form.querySelector('[name="email"]');
    if (emailInput && !/^\S+@\S+\.\S+$/.test(emailInput.value.trim())) {
      showError(emailInput, "Enter valid email address.");
      valid = false;
    }

    // Phone (10 digits only)
    const phoneInput = form.querySelector('[name="phone"]');
    if (phoneInput) {
      const phone = phoneInput.value.trim();

      if (!/^[0-9]{10}$/.test(phone)) {
        showError(phoneInput, "Phone must be 10 digits.");
        valid = false;
      }
    }

    // Age number
    const ageInput = form.querySelector('[name="age"]');
    if (ageInput && isNaN(ageInput.value)) {
      showError(ageInput, "Age must be a number.");
      valid = false;
    }

    if (!valid) {
      scrollToFirstError();
      return;
    }

    submitProfile();
  });
  // --------------------
  // ERROR UI
  // --------------------
  function showError(input, message) {
    if (!input) return;
    input.classList.add("input-error");
    let errorDiv = input.parentElement.querySelector(".field-error");
    if (!errorDiv) {
      errorDiv = document.createElement("div");
      errorDiv.className = "field-error";
      input.parentElement.appendChild(errorDiv);
    }
    errorDiv.innerText = message;
    errorDiv.style.display = "block";
  }
  function scrollToFirstError() {
    const first = document.querySelector(".input-error");
    if (first) first.scrollIntoView({behavior:"smooth", block:"center"});
  }
  // --------------------
  // SUBMIT
  // --------------------
  async function submitProfile() {
    btn.disabled = true;
    btn.innerText = "Saving...";

    const msgBox = document.getElementById("formMessage");
    msgBox.style.display = "none";
    msgBox.className = "form-message";

    const formData = new FormData(form);

    const phoneInput = form.querySelector('[name="phone"]');
    if (phoneInput) {
      const rawPhone = phoneInput.value.trim(); // 10 digits from UI
      formData.set("phone", "+91" + rawPhone);
    }

    // IMAGE LOGIC
    if (removeImage) {
      // Tell backend to remove image
      formData.append("remove_profile_picture", "1");
    } else if (selectedImageFile) {
      // Send new file
      formData.append("profile_picture", selectedImageFile);
    } else {
      // Keep existing
      formData.append("profile_picture", existingImageURL || "");
    }

    const successIconSVG = `
      <svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_344_31474)">
      <path d="M11.001 6.00024C11.001 8.76164 8.76237 11.0002 6.00097 11.0002C3.23955 11.0002 1.00097 8.76164 1.00097 6.00024C1.00097 3.23882 3.23955 1.00024 6.00097 1.00024C8.76237 1.00024 11.001 3.23882 11.001 6.00024Z" fill="#008000" stroke="#008000" stroke-width="0.456675" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3.74992 6L5.24992 7.5L8.24992 4.5" stroke="white" stroke-width="0.989462" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_344_31474">
      <rect width="12" height="12" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      `;

    try {
      const res = await fetch("https://shopifycustom.kretosstechnology.com/api/v1/ludic-kitchen/customer/update", {
        method: "POST",
        body: formData
      });
      const result = await res.json();
      if (!res.ok) throw result;
      // ✅ SUCCESS
      msgBox.innerHTML = `${successIconSVG}<span>Your changes have been saved.</span>`;
      msgBox.className = "form-message success";
      msgBox.style.display = "flex";
      disableSaveButton();
    } catch (err) {
      console.error(err);
      msgBox.innerText = "Something went wrong. Please try again.";
      msgBox.classList.add("error");
      msgBox.style.display = "block";
    } finally {
      btn.disabled = false;
      btn.innerText = "Save";
    }
  }
  // --------------------
  // LIVE ERROR CLEARING
  // --------------------
  document.querySelectorAll(".edit_account_input").forEach(input => {
    input.addEventListener("input", function() {
      clearErrorIfValid(this);
    });
    input.addEventListener("change", function() {
      clearErrorIfValid(this);
    });
  });
  function clearErrorIfValid(input) {
    let isValid = true;
    const name = input.name;
    const value = input.value.trim();
    if (requiredFields.includes(name) && value === "") {
      isValid = false;
    }
    if (name === "email" && value !== "" && !/^\S+@\S+\.\S+$/.test(value)) {
      isValid = false;
    }
    if (name === "phone" && value !== "" && !/^[0-9]{10}$/.test(value)) {
      isValid = false;
    }
    if (name === "age" && value !== "" && isNaN(value)) {
      isValid = false;
    }
    if (isValid) {
      removeError(input);
    }
  }
  function removeError(input) {
    input.classList.remove("input-error");
    const errorDiv = input.parentElement.querySelector(".field-error");
    if (errorDiv) {
      errorDiv.innerText = "";
      errorDiv.style.display = "none";
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ]
}
{% endschema %}




