{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}


{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
    #shopify-section-{{ section.id }} .section-customer_register{
      {%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
      {%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
    }
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-customer_register{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-customer_register{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-customer_register{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}

<div class="kretoss-section section-customer_register">
  <div class="{{ container }}" {{ max_width }}>
    <div class="account_box">
      <div class="customer register">
        <div class="account_header">
          <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/logo.svg?v=1766044966" class="account_head_logo">
          <div class="account_head_info">
            <h2>Create your account</h2>
            <p>Use the method you originally signed up with</p>
          </div>
        </div>
        {%- form 'create_customer', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <div class="form_error_wrapper">
              <h2 class="form__message" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
              <ul>
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      {{ form.errors.messages[field] }}
                    {%- else -%}
                      <a href="#RegisterForm-{{ field }}">
                        {{ form.errors.translated_fields[field] | capitalize }}
                        {{ form.errors.messages[field] }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}

          <div class="form_all_fields">
            <div class="form_field">
              <div class="field">
                <label for="RegisterForm-email">
                  {{ 'customer.register.email' | t }}
                </label>
                <input
                  type="email"
                  name="customer[email]"
                  id="RegisterForm-email"
                  {% if form.email %}
                    value="{{ form.email }}"
                  {% endif %}
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-email-error"
                  {% endif %}
                  placeholder="Enter email address"
                >
              </div>
              {%- if form.errors contains 'email' -%}
                <span id="RegisterForm-email-error" class="form__message">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}.
                </span>
              {%- endif -%}
            </div>

            <div class="form_field">
              <div class="field">
                <label for="RegisterForm-password">
                  {{ 'customer.register.password' | t }}
                </label>
                <input
                  type="password"
                  name="customer[password]"
                  id="RegisterForm-password"
                  aria-required="true"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-password-error"
                  {% endif %}
                  placeholder="Enter password"
                  class="password_field"
                >
                <script type="text/template" id="icon-eye-closed">
                  <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.16193 3.39488C7.43293 3.35482 7.7124 3.33333 8.00026 3.33333C11.4036 3.33333 13.6369 6.33656 14.3871 7.52453C14.4779 7.66833 14.5233 7.7402 14.5487 7.85113C14.5679 7.9344 14.5678 8.0658 14.5487 8.14907C14.5233 8.25993 14.4776 8.33233 14.3861 8.47707C14.1862 8.7934 13.8815 9.23807 13.4777 9.72033M4.48288 4.47669C3.0415 5.45447 2.06296 6.81293 1.61407 7.52353C1.52285 7.66793 1.47725 7.74013 1.45183 7.851C1.43273 7.93427 1.43272 8.0656 1.4518 8.14893C1.47722 8.2598 1.52262 8.33167 1.61342 8.47547C2.36369 9.66347 4.59694 12.6667 8.00026 12.6667C9.37253 12.6667 10.5546 12.1784 11.5259 11.5177M2.00028 2L14.0003 14M6.58607 6.58579C6.22413 6.94773 6.00028 7.44773 6.00028 8C6.00028 9.1046 6.89573 10 8.00026 10C8.55253 10 9.05253 9.77613 9.41447 9.4142" stroke="#CDCDCD" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </script>

                <script type="text/template" id="icon-eye-open">
                  <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.16193 3.39488C7.43293 3.35482 7.7124 3.33333 8.00026 3.33333C11.4036 3.33333 13.6369 6.33656 14.3871 7.52453C14.4779 7.66833 14.5233 7.7402 14.5487 7.85113C14.5679 7.9344 14.5678 8.0658 14.5487 8.14907C14.5233 8.25993 14.4776 8.33233 14.3861 8.47707C14.1862 8.7934 13.8815 9.23807 13.4777 9.72033M4.48288 4.47669C3.0415 5.45447 2.06296 6.81293 1.61407 7.52353C1.52285 7.66793 1.47725 7.74013 1.45183 7.851C1.43273 7.93427 1.43272 8.0656 1.4518 8.14893C1.47722 8.2598 1.52262 8.33167 1.61342 8.47547C2.36369 9.66347 4.59694 12.6667 8.00026 12.6667C11.4036 12.6667 13.6369 9.66347 14.3871 8.47547C14.4779 8.33167 14.5233 8.2598 14.5487 8.14893C14.5678 8.0656 14.5679 7.93427 14.5487 7.851C14.5233 7.74013 14.4779 7.66833 14.3871 7.52453C13.6369 6.33656 11.4036 3.33333 8.00026 3.33333ZM8.00026 10.6667C6.5275 10.6667 5.33359 9.4728 5.33359 8C5.33359 6.52724 6.5275 5.33333 8.00026 5.33333C9.47303 5.33333 10.6669 6.52724 10.6669 8C10.6669 9.4728 9.47303 10.6667 8.00026 10.6667Z" stroke="#CDCDCD" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </script>

                <button type="button" class="toggle-password" aria-label="Toggle password"></button>
              </div>
              {%- if form.errors contains 'password' -%}
                <span id="RegisterForm-password-error" class="form__message">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{ form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.password }}.
                </span>
              {%- endif -%}
            </div>
          </div>

          <button class="customer_submit_btn theme_btn">
            {{ 'customer.register.submit' | t }}
          </button>
        {%- endform -%}
      </div>
      <div class="account_footer">
        <p>
          Already have an account?
          <a href="{{ routes.account_login_url }}">Sign in</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ]
}
{% endschema %}
