{% if customer %}
  <script>
    window.simplyOtp = window.simplyOtp || {};
    window.simplyOtp.customer = true;
  </script>
  {% if template contains 'login' or template contains 'register' %}
    <style>
      .otp-loader {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin: 20px auto;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <script>
      if (location.hash == '#ref=gokwik') {
        window.addEventListener('load', (event) => {
          setTimeout(function () {
            window.gokwikSdk.initCheckout(merchantInfo);
          }, 4000);
        });
      } else {
        location.href = '/account';
      }
    </script>

    <div class="otp-loader">&nbsp;</div>
  {% endif %}
{% else %}
  {{ 'otp-login.css' | asset_url | stylesheet_tag: preload: true }}

  <style>
    /* Chrome, Safari, Edge, Opera */
    .verify-box input::-webkit-outer-spin-button,
    .verify-box input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    .verify-box input[type='number'] {
      -moz-appearance: textfield;
    }
    .simply-otp-wrapper {
      display: block;
    }
    .otp-loader {
      border: 8px solid #f3f3f3; /* Light grey */
      border-top: 8px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 2s linear infinite;
      margin: 20px auto;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>

  <div id="otp-original-login" style="display:none">
    {% form 'recover_customer_password', class: 'sotp-fp-form', id: 'sotp-fp-form' %}
      {% assign recover_success = form.posted_successfully? %}
      {{ form.errors | default_errors }}
      <input
        type="email"
        id="otp-fp-original-email"
        name="email"
      >
      <button type="submit" id="otp-fp-original-submit">Submit</button>
    {% endform %}

    {%- form 'customer_login', name: 'login', class: 'sotp-form', id: 'sotp-form' -%}
      {% if recover_success == true %}
        <div class="fp-form-success">forgot password form submitted successfully</div>
      {% endif %}
      {{ form.errors | default_errors }}
      <input
        type="email"
        id="otp-original-email"
        name="customer[email]"
      >
      <input
        type="password"
        id="otp-original-password"
        name="customer[password]"
      >
      <input
        type="hidden"
        name="return_url"
        id="otp-return_to"
      >
      <button type="submit" id="otp-original-submit">Login</button>
    {%- endform -%}
  </div>
  <div id="recaptcha-container"></div>

  {% comment %}Popup HTML{% endcomment %}
  {% unless template == 'customers/login' or template == 'customers/register' %}
    <div id="sotp">
      <div class="sotp-popup-wrapper">
        <div class="sotp-popup-bg"></div>
        <div class="sotp-popup-inner">
          <div class="sotp-popup-content">
            <div class="sotp-popup-close-btn">
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.7339 14.9984L25.5229 4.52187C25.6702 4.34776 25.5464 4.08325 25.3187 4.08325H22.6468C22.4894 4.08325 22.3388 4.15356 22.235 4.2741L14.9861 12.9158L7.73721 4.2741C7.63676 4.15356 7.48609 4.08325 7.32538 4.08325H4.6535C4.42582 4.08325 4.30194 4.34776 4.44926 4.52187L13.2383 14.9984L4.44926 25.475C4.41626 25.5138 4.39509 25.5613 4.38826 25.6117C4.38143 25.6622 4.38923 25.7136 4.41073 25.7598C4.43224 25.806 4.46654 25.845 4.50958 25.8723C4.55261 25.8995 4.60256 25.9139 4.6535 25.9136H7.32538C7.48274 25.9136 7.63341 25.8433 7.73721 25.7228L14.9861 17.081L22.235 25.7228C22.3354 25.8433 22.4861 25.9136 22.6468 25.9136H25.3187C25.5464 25.9136 25.6702 25.6491 25.5229 25.475L16.7339 14.9984Z" fill="white"/>
                </svg>
              </span>
            </div>
            <div class="sotp-popup-container">
              <div class="sotp-popup-img-section desk-img-section">
                <div class="img-container">
                  <img
                    class="desk-img"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                    data-src="/assets/otp-desk-100.jpg"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="OTP graphic"
                  >
                </div>
              </div>
              <div class="sotp-popup-img-section mobile-img-section">
                <div class="img-container">
                  <img
                    class="mobile-img"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                    data-src="/assets/otp-desk-100.jpg"
                    width="100"
                    height="100"
                    loading="lazy"
                    alt="OTP graphic"
                  >
                </div>
              </div>
              <div id="sotp-widget" class="sotp-widget"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endunless %}

  {% comment %}
    For open popup use function "simplyOtp.openPopup();"
    For close popup use function "simplyOtp.closePopup();"
  {% endcomment %}

  <script>
    window.simplyOtp = window.simplyOtp || {};
    window.simplyOtp.designMode = 1;
    window.simplyOtp.initializeCss = () => {
      simplyOtp.cartJson = {{ cart | json }};
      window.olWrapper = document.querySelectorAll('.olWrapper');
      olWrapper.forEach(ele => ele.style.display = "none")

      /* Load css */
      var cssId = 'myCss';
      if (!document.getElementById(cssId)) {
        var head = document.getElementsByTagName('head')[0];
        var link = document.createElement('link');
        link.id = cssId;
        link.rel = 'stylesheet';
        link.type = 'text/css';
        // local
        link.href = "{{ 'otp-login.css' | asset_url }}";

        // staging
        {% comment %} link.href = 'https://cdn.shopify.com/s/files/1/0157/2097/2352/files/otp-login-stg.css?v=1754918856'; {% endcomment %}

        // production
        {% comment %} link.href = 'https://cdn.shopify.com/s/files/1/0591/9391/7612/files/otp-login.css?v=1754564460'; {% endcomment %}

        link.media = 'all';
        head.appendChild(link);
      }
      if (Shopify.designMode) {
        document.addEventListener("shopify:section:load", () => {
          let olWrapperDiv = document.querySelectorAll('.olWrapper'); // Parent element
          if (olWrapperDiv) { // To check css is available in the DOM or not
            olWrapperDiv.forEach(ele => ele.style.display = "flex") // If available then change olWrapper display property
          }
        });
      }
    }
    window.simplyOtp.signUpEvent = (data) => {
      {% comment %}
      data
        .email
        data
        .phone
        data
        .firstName
        data
        .lastName{% endcomment %}
      console.log('signup', data);
    }
    window.simplyOtp.loginEvent = (data) => {
      console.log('login', data);
    }
  </script>
  <script>

    {% if shop.metafields.simply-otp-login.otp_widgets %}
      simplyOtp.otp_widgets = {{ shop.metafields.simply-otp-login.otp_widgets }};
    {% else %}
      simplyOtp.otp_widgets = {};
    {% endif %}
    {% if shop.metafields.simply-otp-login.custom_fields %}
      simplyOtp.custom_fields = {{ shop.metafields.simply-otp-login.custom_fields }};
    {% else %}
      simplyOtp.custom_fields = [];
    {% endif %}

    {% if shop.metafields.simply-otp-login.recaptcha_site_key %}
      simplyOtp.siteKeyConfig = {{ shop.metafields.simply-otp-login.recaptcha_site_key }};
    {% else %}
      const siteKey = simplyOtp.otp_widgets?.challange_capcha_enabled ? "6LfMBmEqAAAAAIFY9r3vxRO3PVV5moIU5lCQ4NOi" : "6Lcf5mAqAAAAAHFr4iDq6SR_1CGKcRKZO5TpEudY";
      simplyOtp.siteKeyConfig = {site_key : siteKey};
    {% endif %}

    simplyOtp.recaptchaSiteKey = simplyOtp.siteKeyConfig.site_key;

    const otpConsentPrivacyLink = simplyOtp.otp_widgets.otp_consent_privacy_link || '/pages/privacy-policy';
    const otpConsentTermsLink = simplyOtp.otp_widgets.otp_consent_terms_link || '/pages/terms-and-conditions';

    simplyOtp.language = {
      loginSubTitle: simplyOtp.otp_widgets.login_sub_title,
      loginTitle: simplyOtp.otp_widgets.login_title,
      phoneEnable: simplyOtp.otp_widgets.phone_enable,
      emailEnable: simplyOtp.otp_widgets.email_enable,
      whatsappEnable: simplyOtp.otp_widgets.whatsapp_enable,
      phonePlaceholder: simplyOtp.otp_widgets.phone_placeholder,
      emailPlaceholder: simplyOtp.otp_widgets.email_placeholder,
      whatsappPlaceholder: simplyOtp.otp_widgets.whatsapp_placeholder,
      otpTitle: simplyOtp.otp_widgets.otp_title,
      otpSubTitle: simplyOtp.otp_widgets.otp_sub_title,
      accountTitle: simplyOtp.otp_widgets.account_title,
      marketingText: simplyOtp.otp_widgets.marketing_text,
      emailOfferEnable: simplyOtp.otp_widgets.email_offer_enable,
      phoneOfferEnable: simplyOtp.otp_widgets.sms_offer_enable,
      whatsappOfferEnable: simplyOtp.otp_widgets.whatsapp_offer_enable,
      enableCountries: simplyOtp.otp_widgets.enable_countries,
      otherOptionText: simplyOtp.otp_widgets.other_option_text || "Or Login Using",
      btn_bg_color: simplyOtp.otp_widgets.btn_bg_color,
      btn_text_color: simplyOtp.otp_widgets.btn_text_color,
      fname_required: simplyOtp.otp_widgets.fname_required !== false,
      lname_required: simplyOtp.otp_widgets.lname_required !== false,
      email_required: simplyOtp.otp_widgets.email_required !== false,
      phone_required: simplyOtp.otp_widgets.phone_required !== false,
      updateBtnText: simplyOtp.otp_widgets.update_btn_text || "Update",
      requestOTP : simplyOtp.otp_widgets.request_otp_text || "Request OTP",
      emText : simplyOtp.otp_widgets.em_text || "Email",
      waText : simplyOtp.otp_widgets.wa_text || "WhatsApp",
      phText : simplyOtp.otp_widgets.ph_text || "Phone",
      emTextError : simplyOtp.otp_widgets.em_text_error || "Please enter a valid email",
      phTextError : simplyOtp.otp_widgets.ph_text_error || "Please enter a valid Phone Number",
      fnameTextError : simplyOtp.otp_widgets.fname_text_error || "Please enter First Name",
      lnameTextError : simplyOtp.otp_widgets.lname_text_error || "Please enter Last Name",
      fnameText : simplyOtp.otp_widgets.fname_text || "First Name",
      lnameText : simplyOtp.otp_widgets.lname_text || "Last Name",
      verifyOTPText : simplyOtp.otp_widgets.verify_otp_text || "Verify OTP",
      resendOTPText : simplyOtp.otp_widgets.resend_otp_text || "Resend OTP",
      didNotReceiveOTPText : simplyOtp.otp_widgets.did_not_receive_otp_text || "Didn't Receive the OTP?",
      phoneInputMaxLength : simplyOtp.otp_widgets.phone_input_max_length || "10",

      verifyOTPLabel : "OTP",
      accountSubTitle: 'Enter below details and update your account',
      firstNamePlaceholder: 'Enter your first name',
      lastNamePlaceholder: 'Enter your last name',
      countrySearchPlaceholder : "Search...",
      phLabel : "Phone",
      emLabel : "Email",
      waLabel : "Whatsapp",
      emptySearchMessage : "No results found..!",
      successLoginTitle : "<span>🎉 Congratulations!</span> <span>Verification Successful</span>",
      successLoginSubtitle : "Logging you in",
      otpConsentPrivacyPolicy : simplyOtp.otp_widgets.otp_consent_privacy_link || '/pages/privacy-policy',
      otpConsentTerms : simplyOtp.otp_widgets.otp_consent_terms_link || '/pages/terms-and-conditions',
      otpConsentElement : `
      <p class="consent-text">I accept that I have read &amp; understood</p>
      <div class="consent-links-wrapper">
          <a href="${otpConsentPrivacyLink}" target="_blank" class="consent-link">Privacy Policy</a>
          <a href="${otpConsentTermsLink}" target="_blank" class="consent-link">and T&Cs.</a>
      </div>`,
    };
    let ec = simplyOtp.language.enableCountries.split(',');
    simplyOtp.settings = {
      pageUrl: simplyOtp.otp_widgets.page_url || window.location.pathname,
      resendTime: simplyOtp.otp_widgets.resend_time || 5,
      forceUpdateProfile : simplyOtp.otp_widgets.force_update_profile ?? true,
      defaultSelectedOption: simplyOtp.otp_widgets.default_selected_option || 'phone',
      new_popup_design : simplyOtp.otp_widgets.login_screen_theme == 'modal_view',
      onlyOTPNoLogin : false,
      multipass_enabled : false,
      skipPage3 : simplyOtp.otp_widgets.skip_page_3 ?? false,
      goKwik:false,
      onlyIndia: false,
      selectedCountry: ec[0].toLowerCase(),
      primaryColor: simplyOtp.otp_widgets.btn_bg_color,
      image: simplyOtp.otp_widgets.image_url
        ? simplyOtp.otp_widgets.image_url
        : null,
      modal_logo_image_url: simplyOtp.otp_widgets.modal_logo_image_url
        ? simplyOtp.otp_widgets.modal_logo_image_url
        : null,
      modal_desktop_image_url: simplyOtp.otp_widgets.modal_desktop_image_url
        ? simplyOtp.otp_widgets.modal_desktop_image_url
        : null,
      modal_mobile_image_url: simplyOtp.otp_widgets.modal_mobile_image_url
        ? simplyOtp.otp_widgets.modal_mobile_image_url
        : null,
    };
    simplyOtp.permanentDomain = "{{ shop.permanent_domain }}";
    simplyOtp.shopId = "{{ shop.id }}";
    {% comment %} simplyOtp.myFirebaseApi = '{{ shop.metafields.simply-otp-login.firebase_config }}'; {% endcomment %}

    setTimeout(() => {
        const urlParams = new URLSearchParams(window.location.search);
        const returnUrl = urlParams.get('return_url');
        // Override pageUrl if return_url exists
        if (returnUrl && window.simplyOtp && window.simplyOtp.settings) {
            console.log("window.simplyOtp Exists;")
            window.simplyOtp.settings.pageUrl = returnUrl;
        }
    }, 2500);
  </script>

  {% comment %} local {% endcomment %}
  <script src="{{'otp-login.js' | asset_url}}" type="text/javascript" defer="defer"></script>

  {% comment %} staging {% endcomment %}
  {% comment %} <script src="https://cdn.shopify.com/s/files/1/0157/2097/2352/files/otp-login-stg.js?v=1754918857" type="text/javascript" defer="defer"></script> {% endcomment %}

  {% comment %} production {% endcomment %}
  {% comment %} <script src="https://cdn.shopify.com/s/files/1/0591/9391/7612/files/otp-login.js?v=1754563629" type="text/javascript" defer="defer"></script> {% endcomment %}

  {% unless template == 'customers/login' %}
    <script>
      if (simplyOtp.settings.new_popup_design) {
        document.addEventListener(
          'click',
          function (e) {
            const link = e.target?.closest('a') || e.target?.closest('.show-sotp-popup');
            if (!link) return;
            if (link.href.includes('account/login') || link.classList.contains('show-sotp-popup')) {
              if (!window.simplyOtp?.customer) {
                e.stopImmediatePropagation();
                e.preventDefault();
                window.simplyOtp?.initializeSimplyOtp?.();
                window.simplyOtp?.openPopup?.();
              }
            }
          },
          true
        );
      }
    </script>
  {% endunless %}
{% endif %}
<script>
  // Set site key
  if (simplyOtp.otp_widgets && simplyOtp.otp_widgets.captcha_provider == 'hcaptcha') {
    let captchaType = simplyOtp.otp_widgets.challange_capcha_enabled ? 'visible' : 'invisible';
    window.onloadHCaptcha = function () {
      window.widgetId = hcaptcha.render('hcaptcha-container', {
        sitekey: simplyOtp.recaptchaSiteKey,
        size: captchaType,
        callback: window.simplyOtp.hcaptchaCallback,
        'expired-callback': window.simplyOtp.hcaptchaExpire
      });

      window.widgetIdResend = hcaptcha.render('hcaptcha-container-resend', {
        sitekey: simplyOtp.recaptchaSiteKey,
        size: captchaType,
        callback: window.simplyOtp.hcaptchaCallback,
        'expired-callback': window.simplyOtp.hcaptchaExpire
      });
    };
  } else {
    var onloadCallback = function() {
      grecaptcha.enterprise.render('hcaptcha-container', {
        'sitekey' : simplyOtp.recaptchaSiteKey,
        'callback' : window.simplyOtp.captchTokenCallback,
        'action': 'simply_otp_login'
      });

      grecaptcha.enterprise.render('hcaptcha-container-resend', {
        'sitekey' : simplyOtp.recaptchaSiteKey,
        'callback' : window.simplyOtp.captchTokenCallback,
        'action': 'simply_otp_login'
      });
    };
  }

  {% comment %}
    if(location.pathname.includes('account/activate')){
      var urlencoded = new URLSearchParams();
      let timeStamp = new Date().getTime().toString();
      let locationHref = location.pathname.split('/');
      urlencoded.append("form_type", "activate_customer_password");
      urlencoded.append("utf8", "✓");
      urlencoded.append("customer[password]",timeStamp);
      urlencoded.append("customer[password_confirmation]", timeStamp);
      urlencoded.append("id", locationHref[3]);
      urlencoded.append("token", locationHref[4]);
      var requestOptions = {
        method: 'POST',
        body: urlencoded,
        redirect: 'follow'
      };
      fetch("/account/activate", requestOptions)
      .then(response => response.text())
      .then(result => location.href = '/account/login')
      .catch(error => console.log('error', error));
    }
  {% endcomment %}
</script>

{% schema %}
{
  "name": "Simply OTP Section",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "Simply OTP Section"
    }
  ]
}
{% endschema %}
