<section id="policy-modal-section">
  <div class="policy_modal" id="policyModal">
    <div class="policy_modal_overlay"></div>

    <div class="policy_modal_box">
      <button class="policy_modal_close">&times;</button>

      <h2 class="policy_modal_title">
        {{ section.settings.title }}
      </h2>

      <div class="policy_modal_content">

        <!-- LEFT TABS -->
        <ul class="policy_tabs">
          {%- for block in section.blocks -%}
            <li
              class="{% if forloop.first %}active{% endif %}"
              data-tab="tab-{{ block.id }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.tab_title }}
            </li>
          {%- endfor -%}
        </ul>

        <!-- RIGHT CONTENT -->
        <div class="policy_tab_contents">
          {%- for block in section.blocks -%}
            <div
              class="policy_tab {% if forloop.first %}active{% endif %}"
              id="tab-{{ block.id }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.tab_content }}
            </div>
          {%- endfor -%}
        </div>

      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Policy Modal",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Modal Title",
      "default": "Terms & Policies"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Policy Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "Tab title"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "Tab Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Policy Modal"
    }
  ]
}
{% endschema %}
