{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-pre-footer{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}

.pre_footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}
.left_pre_footer {
    display: grid;
    gap: 18px;
}
.scanner_block {
    background: #F4F4F4;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.scanner_block span {
    position: absolute;
    bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -1.2px;
    text-align: center;
}
.middle_pre_footer {
    padding: 54px 20px;
    background: #F4F4F4;
    border-radius: 16px;
    margin: auto;
    text-align: center;
}
.middle_pre_footer img {
    width: 255px;
}
.middle_pre_footer p {
    margin: 34px 0px 108px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.9px;
    text-align: justify;
}
.blank_block {
    background: #F4F4F4;
    border-radius: 16px;
}
.field__input {
    background: transparent !important;
}
.field::after{
    content: unset;
}
.field__input::placeholder,
.customer .field input::placeholder {
  opacity: 1!important;
    color: #949598;
}
button#Subscribe {
    position: relative;
    top: unset;
    right: unset;
}

{%- endstyle -%}
<div class="kretoss-section section-pre-footer">
	<div class="{{ container }}" {{ max_width }}>
        <div class="pre_footer_container">
            <div class="left_pre_footer">
                <div class="scanner_block">
                    <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/scanner.png?v=1766140977">
                    <span>Scan & Download</span>
                </div>
                <div class="blank_block"> </div>
            </div>
            <div class="middle_pre_footer">
                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/logo.svg?v=1766044966">
                <p>This is where our community comes together to shape what Ludic creates next. If you believe in the Ludic way, this is your space to join in. No credentials needed. Here, ideas stay open and every project grows with many hands. You can follow it, fund it, vote on it, and carry the pride of saying, "I helped make this."</p>
                <div class="newsletter_block">
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                        <div class="field">
                            <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="Email Address"
                            required
                            >
                            <button
                            type="submit"
                            class="newsletter-form__button field__button"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                            <span class="svg-wrapper">
                                {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            </button>
                        </div>
                        {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                            <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                            </span>
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                            </small>
                        {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                        <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                        >
                            <span class="svg-wrapper">
                            {{- 'icon-success.svg' | inline_asset_content -}}
                            </span>
                            {{- 'newsletter.success' | t }}
                        </h3>
                        {%- endif -%}
                    {%- endform -%}
                </div>
                <span>Subscribe to stay updated on the latest Updates.</span>
            </div>
            <div class="right_pre_footer">
                <div class="menu_block">
                    <ul class="pre_footer_menu">
                        {%- for link in section.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="pre_footer_list-menu__item"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <div class="copyright_block">
                    <div class="copyright_text">
                        <p>© 2025 Good Chaos Lifestyle Private Limited.</p>
                        <p>All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% schema %}
{
  "name": "Pre Footer",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
        "type": "link_list",
        "id": "menu",
        "default": "footer",
        "label": "Menu"
    }
  ],
	"presets": [
		{
			"name": "Pre Footer"
		}
    ]
}
{% endschema %}