{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-pre-footer{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}

.pre_footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}
.left_pre_footer {
    display: grid;
    gap: 18px;
}
.scanner_block {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 28px;
    border-radius: 16px;
    border: 1px solid #EDECEC;
    background: #F9F9F9;
}
.scanner_block a {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.8px;
    text-align: center;
    color: var(--black);
    display: block;
    margin-top: 30px;
}
.scanner_block img{
    margin:0 auto;
    display:block;
}

.left_pre_content h6 {
    color: #1A1A1A;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -1.1px;
    margin: 0 0px 15px 0;
}
.left_pre_content p {
    color: var(--secondary-charcoal, #1A1A1A);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.7px;
    margin:0 0 30px;
}
.middle_pre_footer {
    padding: 40px 28px;
    /* margin: auto; */
    text-align: center;
    border-radius: 16px;
    border: 1px solid #EDECEC;
    background: #F9F9F9;
}
.middle_pre_footer img {
    max-width: 192px;
    width: 100%;
    height:122px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
.middle_pre_footer p {
    margin: 27px 0px 65px;
    text-align: center;
    color: var(--secondary-charcoal, #1A1A1A);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;
}
.blank_block {
    background: var(--grey);
    border-radius: 16px;
}
.footer_share_block {
    padding: 40px 28px;
    border-radius: 16px;
    border: 1px solid #EDECEC;
    background: #F9F9F9;
}
.footer_share_block h2 {
    margin: 0px 0 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -1.1px;
    text-align: center;
}
.footer_share_block p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.7px;
    text-align: center;
    margin: 0px;
}
.footer_share_block .share-icons {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.footer_share_block .share-icons span {
    border-radius: 7.429px;
    border: 0.929px solid #DCDCDC;
    background: #F6F6F6 !important;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_share_block .social-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box-empty {
    display: block !important;
    border-radius: 7.429px;
    border: 0.929px solid #DCDCDC;
    background: #F6F6F6;
}






#copyLinkBtn button{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: var(--white);
    border-radius: 6px;
    border: unset;
    width: 268px;
    min-height: 40px;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.39px;
    font-family: var(--font-family);
    cursor: pointer;
    margin: auto;
    padding: 0px;
}
.footer_share_inner {
    position: relative;
}
.copy-msg {
    display: none;
    margin-top: 12px;
    color: #008200;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.42px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.newsletter_mobile{
    display:none;
}
.newsletter_block .field__input {
    background: #F1F1F1!important;
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.36px;
    text-align: justify;
    vertical-align: middle;
    color: #1a1a1a;
    min-height: 40px;
    padding: 6px 20px;
    border: unset;
    width: 100%;
    font-family: var(--font-family)!important;
}
.newsletter_block .field::after{
    content: unset;
}
.newsletter_block .field__input::placeholder,
.newsletter_block .customer .field input::placeholder {
    opacity: 1!important;
    color: #949598;
}
.newsletter_block button#Subscribe {
    position: relative;
    top: unset;
    right: unset;
    min-width: 114px;
    height: 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.42px;
    color: #FFF;
    background: #000;
    border-radius: 6px;
}
.middle_pre_footer > span {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.65px;
    margin-top: 12px;
    display: block;
    text-align: left;
    color: #838383;
}
.newsletter_block .field {
    gap: 8px;
    display: flex;
}
.right_pre_footer {
    display: grid;
    gap: 16px;
    margin-top: 18px;
}
.menu_block {
    padding: 40px 0px;
    border-radius: 16px;
    border: 1px solid #EDECEC;
    background: #F9F9F9;
}
ul.pre_footer_menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 106px;
    justify-content: center;
}
a.pre_footer_list-menu__item {
    display: block;
    text-decoration: unset;
    cursor: pointer;
    color: #B3B3B3;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1.2px;
}
.copyright_block {
    padding: 0px;
}
.copyright_text {
    color: var(--secondary-steel, #949598);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.7px;
}
.copyright_text p{
    margin: 0px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px)  {
    .footer_share_block {
        padding: 60px 20px;
    }
    .middle_pre_footer img {
        max-width: 167px;
    }
    .middle_pre_footer p {
        margin: 25px 0px 0;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.65px;
    }
    .newsletter_block .field {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .newsletter_block button#Subscribe {
        margin: auto;
    }
}
@media(max-width: 767px){
    .middle_pre_footer .newsletter_block,
    .middle_pre_footer > span {
        display: none;
    }
    .newsletter_mobile {
        display: block;
        border-radius: 8px;
        border: 0.85px solid #EDECEC;
        background: #F9F9F9;
        padding: 40px 22px;
    }
    .newsletter_mobile span {
        color: #838383;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.6px;
        display: block;
        margin-top: 12px;
    }
    .menu_block {
        border-radius: 8px;
    }
    ul.pre_footer_menu {
        gap: 32px;
        flex-direction: column;
    }
    a.pre_footer_list-menu__item {
        font-size: 24px;
        line-height: 18px;
        letter-spacing: -1.2px;
        text-align: center;
    }
    .pre_footer_container {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .middle_pre_footer {
        padding: 40px 22px;
        border-radius: 8px;
    }
    .middle_pre_footer img {
        max-width: 167px;
    }
    .middle_pre_footer p {
        margin: 25px 0px 0;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.65px;
    }
    .newsletter_block button#Subscribe {
        min-width: 96px;
        height: 40px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.7px;
    }
    .newsletter_block .field__input {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.6px;
        min-height: 40px;
        height: 40px;
        padding: 8px 20px;
    }
    .middle_pre_footer > span {
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -0.3px;
        margin-top: 20px;
    }
    .scanner_block {
        border-radius: 8px;
        padding: 40px 22px;
    }
    .scanner_block a {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.8px;
    }
    .left_pre_content h6 {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1px;
    }
    .left_pre_content p {
        font-size: 13px;
        letter-spacing: -0.65px;
    }
    .footer_share_block {
        border-radius: 8px;
        padding: 40px 22px;
    }
    .footer_share_block h2 {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1px;
    }
    .footer_share_block p {
        font-size: 13px;
        line-height: 14px;
        letter-spacing: -0.65px;
    }
    .blank_block {
        display: none;
    }
    .copyright_text {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.6px;
    }
}
{%- endstyle -%}
<div class="kretoss-section section-pre-footer">
	<div class="{{ container }}" {{ max_width }}>
        <div class="pre_footer_container">
             <div class="middle_pre_footer">
                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/kitchen_stickwer.png?v=1770983014">
                <p>A shared space where ideas are opened early and built with the community.</p>
                <div class="newsletter_block">
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                        <div class="field">
                            <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="Email Address"
                            required
                            >
                            <button
                            type="submit"
                            class="newsletter-form__button field__button"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                            Send
                            </button>
                        </div>
                        {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                            <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                            </span>
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                            </small>
                        {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                        <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                        >
                            <span class="svg-wrapper">
                            {{- 'icon-success.svg' | inline_asset_content -}}
                            </span>
                            {{- 'newsletter.success' | t }}
                        </h3>
                        {%- endif -%}
                    {%- endform -%}
                </div>
                <span>Follow what’s happening in the Kitchen. Track how projects take shape inside the Kitchen.</span>
            </div>
            <div class="left_pre_footer">
                <div class="scanner_block">
                    <div class="left_pre_content">
                        <h6>If you like things in writing</h6>
                        <p>Some people prefer a document they can sit with, revisit, or pass along. These two explain <b>Ludic Kitchen</b> and <b>Project 01</b> in more detail, at your own pace.</p>
                    </div>
                    <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/scanner.svg?v=1770793653">
                    <a href="#">Tap & Download</a>
                </div>
            </div>
            <div class="footer_share_block">
                <div class="footer_share_inner">
                    <h2>You know who to send this to</h2>
                    <p>If this feels like something your circle would appreciate, pass it on. Good ideas tend to travel that way.</p>
                    <div class="share-icons">
                        <div class="social-grid">
                            <div class="box-empty"></div>
                            <span href="#" target="_blank" class="share-btn">
                               <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.8482 0H5.22321C2.33896 0 0 2.33896 0 5.22321V19.8482C0 22.7325 2.33896 25.0714 5.22321 25.0714H19.8482C22.7335 25.0714 25.0714 22.7325 25.0714 19.8482V5.22321C25.0714 2.33896 22.7335 0 19.8482 0ZM8.35714 19.8482H5.22321V8.35714H8.35714V19.8482ZM6.79018 7.03254C5.78105 7.03254 4.96205 6.20727 4.96205 5.18979C4.96205 4.1723 5.78105 3.34704 6.79018 3.34704C7.7993 3.34704 8.6183 4.1723 8.6183 5.18979C8.6183 6.20727 7.80035 7.03254 6.79018 7.03254ZM20.8929 19.8482H17.7589V13.994C17.7589 10.4757 13.5804 10.7421 13.5804 13.994V19.8482H10.4464V8.35714H13.5804V10.2009C15.0387 7.49949 20.8929 7.29996 20.8929 12.7875V19.8482Z" fill="#949598"/>
                                </svg>

                            </span>
                            <div class="box-empty"></div>

                            <span href="#" target="_blank" class="share-btn">
                                <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.684 0.0648937C15.9565 0.230246 1.93462 5.85221 1.28975 6.23252C0.992112 6.39787 0.595267 6.86086 0.380309 7.30731C0.0661408 7.96872 0 8.34903 0 9.73798C0 11.9206 0.363774 12.7474 1.65352 13.4749L2.51335 13.9545L2.59603 15.7403C2.71177 18.4024 2.99287 18.7827 5.57236 19.8245C8.11878 20.8331 8.82979 20.6677 10.5825 18.6505L11.5912 17.493L13.9888 18.4686C17.395 19.8575 18.4037 19.8245 19.8257 18.2371C20.6029 17.3938 21.2808 15.9552 21.7603 14.2025C22.0745 13.0781 22.1241 12.4332 22.1406 9.82066C22.1406 7.19156 22.091 6.56323 21.7934 5.4223C21.1154 2.89241 19.958 0.924725 18.784 0.329458C18.1887 0.0318241 17.2958 -0.0839214 16.684 0.0648937ZM18.3871 3.00816C19.5611 4.56247 20.2556 8.29942 19.9414 11.408C19.6107 14.6655 18.4367 17.2615 17.3289 17.2615C16.5021 17.2615 15.5762 15.7733 15.014 13.5411C14.6006 11.8876 14.6171 7.5388 15.0305 5.93489C15.4108 4.51286 15.9895 3.27272 16.5517 2.66092C17.147 1.99951 17.7092 2.11526 18.3871 3.00816ZM12.9801 5.04199C12.2691 7.67108 12.2691 11.8049 12.9801 14.434C13.1785 15.0954 13.2943 15.6741 13.2778 15.6907C13.1785 15.7899 2.48028 11.4246 2.36453 11.2592C2.1165 10.8458 2.03383 9.63877 2.21572 8.86162L2.41414 8.06793L7.82115 5.90182C10.7975 4.71128 13.2447 3.75224 13.2778 3.78531C13.2943 3.80185 13.1785 4.38058 12.9801 5.04199ZM7.12667 15.7072C8.20146 16.1371 9.14396 16.5339 9.2101 16.5836C9.27624 16.6497 9.01168 17.0631 8.61484 17.5095L7.90382 18.3363L6.43219 17.741L4.96056 17.1623L4.91095 16.0544C4.87788 15.4426 4.92749 14.9466 5.01016 14.9466C5.09284 14.9466 6.03535 15.2938 7.12667 15.7072Z" fill="#949598"/>
                                    <path d="M16.3849 8.71274C16.3353 9.29147 16.3353 10.2174 16.3849 10.7962L16.5006 11.8379L17.0132 11.7387C17.2943 11.6891 17.7738 11.3749 18.0715 11.0607C19.047 10.019 18.6833 8.46471 17.3439 7.90251C17.0297 7.77023 16.7321 7.67102 16.6494 7.67102C16.5667 7.67102 16.451 8.13401 16.3849 8.71274Z" fill="#949598"/>
                                </svg>
                            </span>

                            <span href="#" class="share-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 26 22" fill="none">
                                    <path d="M3.29903 0.141932C1.64619 0.472502 0.463094 1.72519 0.132524 3.49982C0.028134 4.14356 -0.0240612 6.63153 0.0107356 10.1982C0.0629308 15.5221 0.0803292 15.9223 0.428297 16.653C0.915452 17.6795 2.18554 18.8452 3.05546 19.0366C3.42082 19.1062 5.97839 19.1758 8.72733 19.1758H13.7555L14.086 18.7582C14.5384 18.2189 14.5036 17.7665 13.9817 17.262L13.5641 16.827H8.67514C3.36863 16.827 3.02066 16.7748 2.6205 15.8701C2.48131 15.5569 2.41172 14.0954 2.41172 11.1725C2.41172 8.82373 2.44651 6.90991 2.48131 6.90991C2.51611 6.90991 4.41253 7.95381 6.69172 9.2065C12.207 12.2686 11.4067 12.2686 16.9568 9.2065C19.2534 7.95381 21.202 6.90991 21.2542 6.90991C21.3238 6.90991 21.376 7.72763 21.376 8.70194C21.376 10.233 21.4282 10.5462 21.6891 10.7898C22.1241 11.1899 22.8722 11.1551 23.3072 10.7202C23.6552 10.3722 23.6726 10.2156 23.603 6.68373C23.5508 3.49982 23.4986 2.90828 23.2202 2.38633C22.7678 1.5338 22.1067 0.855267 21.289 0.420305C20.6104 0.0375404 20.4365 0.0375404 12.3288 0.00274467C7.78782 -0.0146542 3.71659 0.0549393 3.29903 0.141932ZM20.6626 2.85608C20.9584 3.13446 21.202 3.51722 21.2368 3.7434C21.289 4.10877 20.8018 4.42194 16.574 6.75332L11.859 9.34569L7.26587 6.80552C4.7431 5.41365 2.6031 4.21316 2.51611 4.12617C2.30732 3.91738 2.72489 2.96047 3.17724 2.6473C3.47302 2.42112 4.83009 2.38633 11.8416 2.38633H20.1581L20.6626 2.85608Z" fill="#949598"/>
                                    <path d="M19.4625 12.1294C18.8536 12.7383 19.045 13.3125 20.2976 14.6L21.098 15.4351H18.5578C16.122 15.4351 15.9828 15.4525 15.7393 15.8179C15.3565 16.3572 15.3913 16.9314 15.8089 17.3489C16.122 17.6621 16.383 17.6969 18.6274 17.6969H21.0806L20.0715 18.7408C19.1667 19.6977 19.0798 19.8543 19.1841 20.3588C19.2363 20.672 19.4277 21.02 19.5843 21.1244C20.2628 21.6463 20.6804 21.4028 22.89 19.228C24.6994 17.4359 25.03 17.0184 25.03 16.566C25.03 16.1136 24.6994 15.7135 22.89 13.904C20.6108 11.6249 20.1932 11.3987 19.4625 12.1294Z" fill="#949598"/>
                                </svg>
                            </span>
                            <div class="box-empty"></div>

                            <span href="#" target="_blank" class="share-btn">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                                    <path d="M0.225132 0.344399C0.344319 0.543045 1.7216 2.51626 3.28428 4.74109C4.84696 6.95268 6.11829 8.83319 6.11829 8.89941C6.11829 8.96562 4.82047 10.4886 3.24455 12.2896C1.66862 14.0907 0.291347 15.6666 0.185403 15.7858C0 16.0109 0.0264861 16.0242 0.635666 16.0242L1.28458 16.0109L3.9994 12.9121C5.48262 11.2037 6.74071 9.79994 6.78044 9.79994C6.82017 9.79994 7.82664 11.2037 9.03176 12.9121L11.2036 16.0242H13.4947C14.7528 16.0242 15.7857 15.9977 15.7857 15.9712C15.7857 15.9447 14.3555 13.8788 12.6074 11.3759C10.8593 8.88617 9.44229 6.79376 9.45554 6.74079C9.48202 6.68782 10.6871 5.28406 12.1439 3.62868C13.6006 1.96005 14.8984 0.47683 15.0309 0.30467L15.2692 8.01086e-05H14.6336L13.9979 0.0133228L11.6804 2.66193C10.409 4.10543 9.24365 5.45622 9.08473 5.64162L8.80663 5.9727L6.71423 2.99301L4.62182 8.01086e-05H2.30429H0L0.225132 0.344399ZM8.88609 7.81348C11.5877 11.601 13.839 14.7926 13.8787 14.8985C13.9582 15.0839 13.8125 15.0972 12.859 15.0707L11.7598 15.0309L6.87314 8.21077C4.19805 4.46299 1.93349 1.28466 1.86727 1.15223C1.74808 0.940336 1.82754 0.927094 2.8605 0.927094H3.97291L8.88609 7.81348Z" fill="#949598"/>
                                </svg>
                            </span>
                            <div class="box-empty"></div>
                            <div class="box-empty"></div>

                            <span href="#" target="_blank" class="share-btn">
                               <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                                    <g clip-path="url(#clip0_1176_1809)">
                                        <path d="M12.5733 5.5771C8.77604 5.5771 5.68808 8.66507 5.68599 12.4603C5.68495 14.0095 6.13937 15.1701 6.90195 16.3839L6.20622 18.9245L8.81156 18.2413C9.97843 18.9339 11.0931 19.3497 12.5671 19.3497C16.3612 19.3497 19.4523 16.2617 19.4533 12.4655C19.4565 8.66193 16.38 5.57815 12.5733 5.5771ZM16.6224 15.4208C16.45 15.9044 15.6226 16.3453 15.2257 16.4048C14.8694 16.4581 14.4182 16.48 13.922 16.3233C13.6211 16.2283 13.2356 16.1008 12.7426 15.8877C10.6668 14.9914 9.3109 12.9011 9.20748 12.7632C9.10406 12.6253 8.36237 11.6413 8.36237 10.6227C8.36237 9.6042 8.89722 9.10382 9.0863 8.89593C9.27643 8.68701 9.49998 8.63477 9.63787 8.63477L10.0348 8.64209C10.1623 8.64835 10.3326 8.59403 10.5007 8.99726C10.6731 9.41199 11.0868 10.4305 11.139 10.5339C11.1902 10.6374 11.2257 10.7585 11.1557 10.8964C11.0868 11.0343 11.0523 11.121 10.9489 11.2412L10.6386 11.6036C10.5352 11.7071 10.4276 11.8188 10.5478 12.0257C10.6689 12.2325 11.0837 12.9105 11.699 13.4589C12.4897 14.1641 13.1562 14.3824 13.3631 14.4858C13.5699 14.5892 13.6911 14.5725 13.8112 14.4336C13.9324 14.2957 14.3283 13.8298 14.4662 13.6219C14.6041 13.414 14.742 13.4495 14.9321 13.5185C15.1222 13.5874 16.1397 14.0878 16.3466 14.1923C16.5534 14.2957 16.6913 14.3479 16.7435 14.4336C16.7947 14.5224 16.7947 14.9371 16.6224 15.4208ZM19.8482 -0.000244141H5.22321C2.33896 -0.000244141 0 2.33871 0 5.22297V19.848C0 22.7322 2.33896 25.0712 5.22321 25.0712H19.8482C22.7335 25.0712 25.0714 22.7322 25.0714 19.848V5.22297C25.0714 2.33871 22.7335 -0.000244141 19.8482 -0.000244141ZM12.5702 20.7485C11.1839 20.7485 9.8186 20.4006 8.6089 19.7404L4.21827 20.8926L5.39349 16.6012C4.66851 15.3456 4.28721 13.9207 4.28826 12.4603C4.29035 7.89308 8.0051 4.17833 12.5702 4.17833C14.7859 4.17937 16.8658 5.04225 18.4296 6.60712C19.9934 8.172 20.8542 10.254 20.8532 12.4665C20.8511 17.0337 17.1353 20.7485 12.5702 20.7485Z" fill="#949598"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1176_1809">
                                        <rect width="25.0714" height="25.0714" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </span>
                            <div class="box-empty"></div>

                            <span href="#" target="_blank" class="share-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                    <path d="M5.73139 0.354315C5.09536 0.566324 4.26145 0.962077 3.8657 1.21649C2.91872 1.82425 1.46291 3.37899 0.954087 4.32597C-0.261439 6.57329 -0.317976 9.45662 0.798612 11.9018C1.13783 12.6368 1.15196 12.764 0.996489 13.4C0.911685 13.7816 0.643138 14.3753 0.416994 14.7428C-0.105965 15.5625 -0.120099 16.142 0.360458 16.453C0.841014 16.7639 2.31095 16.6508 3.63955 16.1986L4.60067 15.8593L5.51938 16.1844C6.6077 16.566 7.79495 16.6084 8.0635 16.2834C8.31791 15.9865 8.30378 15.2657 8.03523 15.0113C7.92216 14.8982 7.42747 14.7003 6.94691 14.6014C6.46636 14.4883 5.83033 14.2622 5.51938 14.1067C4.82681 13.7534 4.5724 13.7534 3.80916 14.1067C2.84805 14.5449 2.69257 14.5025 2.86218 13.8664C3.07419 13.0891 2.93285 12.029 2.4947 11.0679C1.34984 8.56618 1.78799 5.90899 3.68195 3.87369C5.70312 1.72531 8.69953 1.23062 11.3285 2.60162C12.2048 3.06805 12.7843 3.57687 13.8867 4.89134C14.5369 5.68284 15.5545 5.38603 15.5545 4.41078C15.5545 4.11396 15.3425 3.73235 14.8761 3.15285C13.9009 1.93732 12.6995 1.03275 11.385 0.509789C10.3815 0.114035 10.0705 0.0574989 8.55819 0.0150967C7.00345 -0.0273037 6.76317 0.000963211 5.73139 0.354315Z" fill="#949598"/>
                                    <path d="M13.436 6.74284C11.8813 7.23753 11.0474 7.83116 10.1145 9.06082C8.29125 11.4636 8.57393 14.983 10.7647 17.202C12.4184 18.8557 14.9484 19.4493 17.1816 18.7002C17.7893 18.4882 17.8883 18.4882 18.4112 18.7002C19.3158 19.0536 20.5737 19.1384 20.9977 18.8557C21.4642 18.5589 21.4783 17.7956 21.0401 17.202C20.6444 16.6649 20.6444 15.9724 21.0401 14.9264C21.4218 13.9371 21.4642 11.8735 21.1391 10.7993C20.178 7.64742 16.5455 5.73933 13.436 6.74284ZM16.0084 8.46719C16.4183 8.552 16.9837 8.74987 17.2664 8.89121C18.0155 9.27283 19.0331 10.4601 19.3158 11.3081C19.6126 12.1986 19.5278 13.8099 19.1603 14.5307C19.019 14.7992 18.8776 15.407 18.8352 15.9017C18.7787 16.6932 18.7504 16.7639 18.5101 16.6508C18.1285 16.4388 17.6762 16.4812 16.8423 16.8063C15.2452 17.3999 13.3512 17.0465 12.1781 15.9158C9.63398 13.4848 10.8919 9.14563 14.3265 8.45306C15.1604 8.29758 15.1745 8.29758 16.0084 8.46719Z" fill="#949598"/>
                                </svg>
                            </span>

                            </div>

                    </div>
                   
                    <div class="copy-link-btn" id="copyLinkBtn">
                        {% liquid
                        if template.name == 'index'
                            assign share_url = request.origin
                        else
                            assign share_url = request.origin | append: request.path
                        endif
                        render 'share-button', block.settings.share_label: 'Share', share_link: share_url
                        %}
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="right_pre_footer">
            <div class="menu_block">
                <ul class="pre_footer_menu">
                    {%- for link in section.settings.menu.links -%}
                    {% assign link_handle = link.title | handle %}
                    <li>
                        <a
                            href="{{ link.url }}"
                            class="pre_footer_list-menu__item"
                            {% if link_handle == 'terms-of-use' %}
                                data-open-policy
                            {% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="newsletter_mobile">
                <div class="newsletter_block">
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                        <div class="field">
                            <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="Email Address"
                            required
                            >
                            <button
                            type="submit"
                            class="newsletter-form__button field__button"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                            Send
                            </button>
                        </div>
                        {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                            <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                            </span>
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                            </small>
                        {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                        <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                        >
                            <span class="svg-wrapper">
                            {{- 'icon-success.svg' | inline_asset_content -}}
                            </span>
                            {{- 'newsletter.success' | t }}
                        </h3>
                        {%- endif -%}
                    {%- endform -%}
                </div>
                <span>Follow what’s happening in the Kitchen. Track how projects take shape inside the Kitchen.</span>
            </div>
            <div class="copyright_block">
                <div class="copyright_text">
                    <p>© 2026 Good Chaos Lifestyle Private Limited. All Rights Reserved.</p>
                </div>
            </div>
        </div>
	</div>
</div>

<script>
{% comment %} document.addEventListener("DOMContentLoaded", function () {
  const pageUrl = encodeURIComponent(window.location.href);
  const pageTitle = encodeURIComponent(document.title);

  document.querySelectorAll(".share-btn").forEach(btn => {
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      const type = this.dataset.type;
      let shareUrl = "";

      if (type === "facebook") {
        shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${pageUrl}`;
      }
      if (type === "instagram") {
        alert("Instagram sharing works via app only.");
        return;
      }
      if (type === "linkedin") {
        shareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${pageUrl}&title=${pageTitle}`;
      }
      if (type === "whatsapp") {
        shareUrl = `https://wa.me/?text=${pageTitle}%20${pageUrl}`;
      }

      window.open(shareUrl, "_blank", "width=600,height=500");
    });
  });

  const copyBtn = document.getElementById("copyLinkBtn");
  const copyMsg = document.getElementById("copyMsg");

  {% comment %} copyBtn.addEventListener("click", function () {
    navigator.clipboard.writeText(window.location.href).then(() => {
      copyMsg.style.display = "block";
      setTimeout(() => copyMsg.style.display = "none", 2000);
    });
  }); {% endcomment %}
}); {% endcomment %}
</script>


{% schema %}
{
  "name": "Pre Footer",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
        "type": "link_list",
        "id": "menu",
        "default": "footer",
        "label": "Menu"
    }
  ],
	"presets": [
		{
			"name": "Pre Footer"
		}
    ]
}
{% endschema %}