{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-pre-footer{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-pre-footer{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}

.pre_footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}
.left_pre_footer {
    display: grid;
    gap: 18px;
}
.scanner_block {
    background: var(--grey);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 48px 60px;
}
.scanner_block a {
    position: absolute;
    bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -1.2px;
    text-align: center;
    /* text-decoration: unset; */
    color: var(--black);
}
.middle_pre_footer {
    padding: 80px 20px 70px;
    background: var(--grey);
    border-radius: 16px;
    margin: auto;
    text-align: center;
}
.middle_pre_footer img {
    max-width: 255px;
    width: 100%;
}
.middle_pre_footer p {
    margin: 34px 0px 108px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.54px;
    text-align: justify;
}
.blank_block {
    background: var(--grey);
    border-radius: 16px;
}
.footer_share_block {
    background: var(--grey);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 66px 38px;
    height: fit-content;
}
.footer_share_block h2 {
    margin: 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: -0.72px;
    text-align: center;
}
.footer_share_block p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.48px;
    text-align: center;
    margin: 16px 0px 0px;
}
.footer_share_block .share-icons {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.footer_share_block .share-icons a {
    display: block;
    line-height: 27px;
    height: 27px;
}
#copyLinkBtn button{
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: var(--white);
    border-radius: 6px;
    border: unset;
    width: 116px;
    min-height: 40px;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.39px;
    font-family: var(--font-family);
    cursor: pointer;
    margin: auto;
    padding: 0px;
}
.footer_share_inner {
    position: relative;
}
.copy-msg {
    display: none;
    margin-top: 12px;
    color: #008200;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.42px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.newsletter_block .field__input {
    background: #F1F1F1!important;
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.36px;
    text-align: justify;
    vertical-align: middle;
    color: #1a1a1a;
    min-height: 40px;
    padding: 6px 20px;
    border: unset;
    width: 100%;
    font-family: var(--font-family)!important;
}
.newsletter_block .field::after{
    content: unset;
}
.newsletter_block .field__input::placeholder,
.newsletter_block .customer .field input::placeholder {
    opacity: 1!important;
    color: #949598;
}
.newsletter_block button#Subscribe {
    position: relative;
    top: unset;
    right: unset;
    min-width: 114px;
    height: 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.42px;
    color: #FFF;
    background: #000;
    border-radius: 6px;
}
.middle_pre_footer > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.42px;
    margin-top: 14px;
    display: block;
    text-align: center;
    color: #838383;
}
.newsletter_block .field {
    gap: 8px;
    display: flex;
}
.right_pre_footer {
    display: grid;
    gap: 18px;
}
.menu_block {
    background: var(--grey);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}
ul.pre_footer_menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: grid;
    gap: 56px;
}
a.pre_footer_list-menu__item {
    font-weight: 600;
    font-size: 32px;
    display: block;
    line-height: 23px;
    letter-spacing: -0.96px;
    color: #000;
    text-decoration: unset;
    cursor: pointer;
}
.copyright_block {
    padding: 34px 0px;
    border-radius: 16px;
    background: var(--grey);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright_text {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.8px;
    text-align: center;
}
.copyright_text p{
    margin: 0px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px)  {
    .scanner_block img {
        width: 100%;
    }
    .scanner_block {
        padding: 54px 40px;
    }
    .scanner_block a {
        font-size: 18px;
    }
    .footer_share_block {
        padding: 60px 20px;
    }
    .footer_share_block h2 {
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.6px;
    }
    .footer_share_block p {
        line-height: 24px;
    }
    .middle_pre_footer {
        padding: 30px 20px;
    }
    .middle_pre_footer img {
        max-width: 155px;
    }
    .middle_pre_footer p {
        margin: 18px 0px 60px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.48px;
    }
    .newsletter_block .field {
        display: grid;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .newsletter_block button#Subscribe {
        margin: auto;
    }
    .menu_block {
        padding: 30px 10px;
    }
    ul.pre_footer_menu {
        gap: 50px;
    }
    a.pre_footer_list-menu__item {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -1.1px;
    }
}
@media(min-width: 768px){
    .menu_block.mobile{
        display: none;
    }
}
@media(max-width: 767px){
    .menu_block.desktop{
        display: none;
    }
    .menu_block {
        order: -1;
    }
    .menu_block {
        order: -1;
        border-radius: 8px;
        padding: 38px 0px;
    }
    ul.pre_footer_menu {
        gap: 34px;
    }
    a.pre_footer_list-menu__item {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.72px;
        text-align: center;
    }
    .pre_footer_container {
        grid-template-columns: 1fr;
        gap: 8px;
    }
    .middle_pre_footer {
        padding: 68px 18px 46px;
        border-radius: 8px;
        order: -1;
    }
    .middle_pre_footer img {
        max-width: 216px;
    }
    .middle_pre_footer p {
        margin: 45px 0px 108px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.42px;
    }
    .newsletter_block button#Subscribe {
        min-width: 96px;
        height: 40px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.7px;
    }
    .newsletter_block .field__input {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.6px;
        min-height: 40px;
        height: 40px;
        padding: 8px 20px;
    }
    .middle_pre_footer > span {
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -0.3px;
        margin-top: 20px;
    }
    .scanner_block {
        border-radius: 8px;
        padding: 40px 52px;
    }
    .scanner_block img {
        width: 100%;
    }
    .scanner_block a {
        bottom: 24px;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1px;
    }
    .footer_share_block {
        border-radius: 8px;
        padding: 50px 20px;
    }
    .footer_share_block h2 {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.6px;
    }
    .footer_share_block p {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.42px;
    }
    .blank_block {
        display: none;
    }
    .copyright_block {
        padding: 28px 0px;
        border-radius: 8px;
    }
    .copyright_text {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.7px;
    }
}
{%- endstyle -%}
<div class="kretoss-section section-pre-footer">
	<div class="{{ container }}" {{ max_width }}>
        <div class="pre_footer_container">
            <div class="left_pre_footer">
                <div class="scanner_block">
                    <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/scanner_png.png?v=1768820424">
                    <a href="#">Tap & Download</a>
                </div>
                <div class="footer_share_block">
                    <div class="footer_share_inner">
                        <h2>Share with your friends</h2>
                        <p>Spread the love & help build the community.</p>
                        <div class="share-icons">
                            <a href="#" class="share-btn" data-type="facebook" aria-label="Facebook">
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_348_34104)">
                                    <path d="M21.375 0H5.625C2.51888 0 0 2.51888 0 5.625V21.375C0 24.4811 2.51888 27 5.625 27H21.375C24.4823 27 27 24.4811 27 21.375V5.625C27 2.51888 24.4823 0 21.375 0ZM18 7.875H15.8355C15.1436 7.875 14.625 8.1585 14.625 8.87512V10.125H18L17.7323 13.5H14.625V22.5H11.25V13.5H9V10.125H11.25V7.96163C11.25 5.68687 12.447 4.5 15.1436 4.5H18V7.875Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_348_34104">
                                    <rect width="27" height="27" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>

                            <a href="#" class="share-btn" data-type="instagram" aria-label="Instagram">
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_348_34106)">
                                    <path d="M17.1371 6.174C16.1887 6.13125 15.903 6.12225 13.5 6.12225C11.097 6.12225 10.8124 6.13125 9.864 6.174C7.42275 6.28538 6.28537 7.44188 6.17512 9.86287C6.13125 10.8124 6.12113 11.097 6.12113 13.5C6.12113 15.903 6.13125 16.1876 6.174 17.1371C6.28538 19.5536 7.41825 20.7146 9.86287 20.826C10.8113 20.8687 11.097 20.8789 13.5 20.8789C15.9041 20.8789 16.1887 20.8699 17.1371 20.8271C19.5784 20.7157 20.7146 19.557 20.826 17.1383C20.8687 16.1887 20.8778 15.9041 20.8778 13.5011C20.8778 11.0981 20.8687 10.8135 20.826 9.86512C20.7146 7.443 19.5761 6.28538 17.1371 6.174ZM13.5 18.1215C10.9474 18.1215 8.8785 16.0526 8.8785 13.5C8.8785 10.9474 10.9485 8.8785 13.5 8.8785C16.0515 8.8785 18.1215 10.9474 18.1215 13.5C18.1215 16.0526 16.0526 18.1215 13.5 18.1215ZM18.3049 9.77625C17.7086 9.77625 17.2249 9.2925 17.2249 8.69625C17.2249 8.1 17.7086 7.61625 18.3049 7.61625C18.9011 7.61625 19.3849 8.1 19.3849 8.69625C19.3849 9.2925 18.9011 9.77625 18.3049 9.77625ZM16.5004 13.5C16.5004 15.1571 15.1571 16.5004 13.5 16.5004C11.8429 16.5004 10.4996 15.1571 10.4996 13.5C10.4996 11.8429 11.8429 10.4996 13.5 10.4996C15.1571 10.4996 16.5004 11.8429 16.5004 13.5ZM21.375 0H5.625C2.51888 0 0 2.51888 0 5.625V21.375C0 24.4811 2.51888 27 5.625 27H21.375C24.4823 27 27 24.4811 27 21.375V5.625C27 2.51888 24.4823 0 21.375 0ZM22.446 17.2103C22.2975 20.4829 20.4761 22.2964 17.2114 22.446C16.2506 22.4899 15.9446 22.5 13.5 22.5C11.0554 22.5 10.7505 22.4899 9.78975 22.446C6.51825 22.2964 4.70475 20.4795 4.554 17.2103C4.51012 16.2506 4.5 15.9446 4.5 13.5C4.5 11.0565 4.51012 10.7494 4.554 9.78975C4.70475 6.51825 6.5205 4.70362 9.78975 4.55512C10.7505 4.51012 11.0554 4.5 13.5 4.5C15.9446 4.5 16.2506 4.51012 17.2114 4.554C20.4829 4.70362 22.2997 6.52388 22.446 9.78863C22.4899 10.7494 22.5 11.0565 22.5 13.5C22.5 15.9446 22.4899 16.2506 22.446 17.2103Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_348_34106">
                                    <rect width="27" height="27" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>

                            <a href="#" class="share-btn" data-type="linkedin" aria-label="LinkedIn">
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_348_34108)">
                                    <path d="M21.375 0H5.625C2.51888 0 0 2.51888 0 5.625V21.375C0 24.4811 2.51888 27 5.625 27H21.375C24.4823 27 27 24.4811 27 21.375V5.625C27 2.51888 24.4823 0 21.375 0ZM9 21.375H5.625V9H9V21.375ZM7.3125 7.5735C6.22575 7.5735 5.34375 6.68475 5.34375 5.589C5.34375 4.49325 6.22575 3.6045 7.3125 3.6045C8.39925 3.6045 9.28125 4.49325 9.28125 5.589C9.28125 6.68475 8.40038 7.5735 7.3125 7.5735ZM22.5 21.375H19.125V15.0705C19.125 11.2815 14.625 11.5684 14.625 15.0705V21.375H11.25V9H14.625V10.9856C16.1955 8.07638 22.5 7.8615 22.5 13.7711V21.375Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_348_34108">
                                    <rect width="27" height="27" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>

                            <a href="#" class="share-btn" data-type="whatsapp" aria-label="WhatsApp">
                                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_348_34110)">
                                    <path d="M13.5405 6.00638C9.45113 6.00638 6.12562 9.33188 6.12337 13.419C6.12225 15.0874 6.61162 16.3372 7.43287 17.6445L6.68363 20.3805L9.48938 19.6448C10.746 20.3906 11.9464 20.8384 13.5337 20.8384C17.6197 20.8384 20.9486 17.5129 20.9497 13.4246C20.9531 9.3285 17.64 6.0075 13.5405 6.00638ZM17.901 16.6073C17.7154 17.1281 16.8244 17.6029 16.3969 17.667C16.0133 17.7244 15.5272 17.748 14.9929 17.5793C14.6689 17.4769 14.2537 17.3396 13.7227 17.1101C11.4874 16.1449 10.0271 13.8938 9.91575 13.7453C9.80437 13.5968 9.00562 12.537 9.00562 11.4401C9.00562 10.3432 9.58162 9.80437 9.78525 9.5805C9.99 9.3555 10.2308 9.29925 10.3792 9.29925L10.8068 9.30713C10.944 9.31388 11.1274 9.25537 11.3085 9.68962C11.4941 10.1362 11.9396 11.2331 11.9959 11.3445C12.051 11.4559 12.0892 11.5864 12.0139 11.7349C11.9396 11.8834 11.9025 11.9767 11.7911 12.1061L11.457 12.4965C11.3456 12.6079 11.2297 12.7283 11.3591 12.951C11.4896 13.1737 11.9363 13.9039 12.5989 14.4945C13.4505 15.2539 14.1683 15.489 14.391 15.6004C14.6137 15.7118 14.7442 15.6938 14.8736 15.5441C15.0041 15.3956 15.4305 14.8939 15.579 14.67C15.7275 14.4461 15.876 14.4844 16.0807 14.5586C16.2855 14.6329 17.3813 15.1718 17.604 15.2843C17.8267 15.3956 17.9753 15.4519 18.0315 15.5441C18.0866 15.6398 18.0866 16.0864 17.901 16.6073ZM21.375 0H5.625C2.51888 0 0 2.51888 0 5.625V21.375C0 24.4811 2.51888 27 5.625 27H21.375C24.4823 27 27 24.4811 27 21.375V5.625C27 2.51888 24.4823 0 21.375 0ZM13.5371 22.3447C12.0442 22.3447 10.5739 21.9701 9.27112 21.2591L4.54275 22.5L5.80838 17.8785C5.02763 16.5263 4.617 14.9918 4.61812 13.419C4.62038 8.5005 8.62088 4.5 13.5371 4.5C15.9233 4.50112 18.1631 5.43037 19.8472 7.11562C21.5314 8.80087 22.4584 11.043 22.4573 13.4257C22.455 18.3442 18.4534 22.3447 13.5371 22.3447Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_348_34110">
                                    <rect width="27" height="27" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                       
                        <div class="copy-link-btn" id="copyLinkBtn">
                            {% liquid
                            if template.name == 'index'
                                assign share_url = request.origin
                            else
                                assign share_url = request.origin | append: request.path
                            endif
                            render 'share-button', block.settings.share_label: 'Share', share_link: share_url
                            %}
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="middle_pre_footer">
                <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/logo-main.svg?v=1769583483">
                <p>A shared space where ideas are opened early and built with the community.</p>
                <div class="newsletter_block">
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                        <div class="field">
                            <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="Email Address"
                            required
                            >
                            <button
                            type="submit"
                            class="newsletter-form__button field__button"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                            Send
                            </button>
                        </div>
                        {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                            <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                            </span>
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                            </small>
                        {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                        <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                            autofocus
                        >
                            <span class="svg-wrapper">
                            {{- 'icon-success.svg' | inline_asset_content -}}
                            </span>
                            {{- 'newsletter.success' | t }}
                        </h3>
                        {%- endif -%}
                    {%- endform -%}
                </div>
                <span>Subscribe to stay updated on the latest Updates.</span>
            </div>
            <div class="menu_block mobile">
                <ul class="pre_footer_menu">
                    {%- for link in section.settings.menu.links -%}
                    {% assign link_handle = link.title | handle %}
                    <li>
                        <a
                            href="{{ link.url }}"
                            class="pre_footer_list-menu__item"
                            {% if link_handle == 'terms-conditions' %}
                                data-open-policy
                            {% endif %}
                        >
                            {{ link.title | escape }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="right_pre_footer">
                <div class="menu_block desktop">
                    <ul class="pre_footer_menu">
                        {%- for link in section.settings.menu.links -%}
                        {% assign link_handle = link.title | handle %}
                        <li>
                            <a
                                href="{{ link.url }}"
                                class="pre_footer_list-menu__item"
                                {% if link_handle == 'terms-conditions' %}
                                    data-open-policy
                                {% endif %}
                            >
                              {{ link.title | escape }}
                            </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <div class="copyright_block">
                    <div class="copyright_text">
                        <p>© 2025 Good Chaos Lifestyle Private Limited.</p>
                        <p>All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const pageUrl = encodeURIComponent(window.location.href);
  const pageTitle = encodeURIComponent(document.title);

  document.querySelectorAll(".share-btn").forEach(btn => {
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      const type = this.dataset.type;
      let shareUrl = "";

      if (type === "facebook") {
        shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${pageUrl}`;
      }
      if (type === "instagram") {
        alert("Instagram sharing works via app only.");
        return;
      }
      if (type === "linkedin") {
        shareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${pageUrl}&title=${pageTitle}`;
      }
      if (type === "whatsapp") {
        shareUrl = `https://wa.me/?text=${pageTitle}%20${pageUrl}`;
      }

      window.open(shareUrl, "_blank", "width=600,height=500");
    });
  });

  const copyBtn = document.getElementById("copyLinkBtn");
  const copyMsg = document.getElementById("copyMsg");

  {% comment %} copyBtn.addEventListener("click", function () {
    navigator.clipboard.writeText(window.location.href).then(() => {
      copyMsg.style.display = "block";
      setTimeout(() => copyMsg.style.display = "none", 2000);
    });
  }); {% endcomment %}
});
</script>


{% schema %}
{
  "name": "Pre Footer",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
        "type": "link_list",
        "id": "menu",
        "default": "footer",
        "label": "Menu"
    }
  ],
	"presets": [
		{
			"name": "Pre Footer"
		}
    ]
}
{% endschema %}