{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
    {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-project_progress_data{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-project_progress_data{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-project_progress_data{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-project_progress_data{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}



{%- endstyle -%}

<div class="kretoss-section section-project_progress_data">
	<div class="{{ container }}" {{ max_width }}>
        <div class="project_progress_inner">
            <div class="project_progress_left">
                {% assign raised_amount = product.metafields.custom.raised_amount | default: 0 %}
                {% assign ludic_spent_amount = product.metafields.custom.ludic_amount | default: 0 %}
                {% assign goal_amount = product.metafields.custom.project_goal | default: 1 %}

                {%- comment -%} Calculate overall progress percentage {%- endcomment -%}
                {% assign progress = raised_amount | times: 100.0 | divided_by: goal_amount | round: 0 %}
                {% if progress > 100 %}
                {% assign progress = 100 %}
                {% endif %}

                {% assign bar_width = progress %} {% if bar_width < 2 %} {% assign bar_width = 2 %} {% endif %}

                {%- comment -%} Calculate Ludic spent percentage {%- endcomment -%}
                {% assign red_width = ludic_spent_amount | times: 100.0 | divided_by: goal_amount | round: 0 %}
                {% if red_width > 100 %}
                {% assign red_width = 100 %}
                {% endif %}

                {%- comment -%} Remaining progress for blue bar {%- endcomment -%}
                {% assign blue_width = progress | minus: red_width %}
                {% if blue_width < 0 %}
                {% assign blue_width = 0 %}
                {% endif %}


                {% assign raised = raised_amount | times: 1.0 %}
                {% comment %} {% if raised >= 10000000 %}
                    {% assign raised_display = raised | divided_by: 10000000.0 | round: 2 | append: 'Cr' %}
                {% elsif raised >= 100000 %}
                    {% assign raised_display = raised | divided_by: 100000.0 | round: 1 | append: 'L' %}
                {% else %}
                    {% assign raised_display = raised | money_without_currency %}
                {% endif %} {% endcomment %}
                
                {% assign goal = goal_amount | times: 1.0 %}
                {% comment %} {% if goal >= 10000000 %}
                    {% assign goal_display = goal | divided_by: 10000000.0 | round: 2 | append: 'Cr' %}
                {% elsif goal >= 100000 %}
                    {% assign goal_display = goal | divided_by: 100000.0 | round: 1 | append: 'L' %}
                {% else %}
                    {% assign goal_display = goal | money_without_currency %}
                {% endif %} {% endcomment %}

                <div class="goal_progress">
                    <div class="progress_data">
                        <div class="goal_raised">
                            <h2 class="js-indian-number" data-value="{{ raised_amount }}">₹</h2>
                            <span>Raised till now</span>
                        </div>
                        <div class="goal_total">
                            <h2 class="js-indian-number" data-value="{{ goal_amount }}">₹</h2>
                            <span>Our total goal</span>
                        </div>
                    </div>
                    <div class="goal_raised_progress_bar">
                        <div class="raised_progress_track">
                            {% if red_width > 0 %}
                                <div class="progress_fill red_fill" style="width: {{ red_width }}%;"> </div>
                            {% endif %}
                            {% if bar_width > red_width %}
                                <div class="progress_fill blue_fill" style="width: {{ bar_width }}%;"> </div>
                            {% endif %}
                            <div class="milestone-75" style="--milestone_percentage: 75%;">
                                <span class="milestone-percentage">75%</span>
                                <span class="milestone-tooltip">Production starts from here</span>
                            </div>
                        </div>
                    </div>
                    <div class="total_raised_percentage">
                        <h3 class="js-counter">{{ progress }}%</h3><span>Raised</span>
                    </div>
                    <p class="goal_info">Ludic has already put <span>₹15,00,000</span> on the table because we believed in this first.</p>
                </div>
            </div>
           <div class="project_progress_right">
                <div class="top_data">

                    {% assign current_backers = 0 %}
                    {% assign target_backers = 0 %}

                    {% for variant in product.variants %}
                        {% assign variant_current = variant.metafields.custom.current_reached_tier_goal | default: 0 %}
                        {% assign variant_total = variant.metafields.custom.total_tier_goal | default: 0 %}

                        {% assign current_backers = current_backers | plus: variant_current %}
                        {% assign target_backers = target_backers | plus: variant_total %}
                    {% endfor %}

                    {% if target_backers > 0 %}
                    {% assign backers_progress = current_backers | times: 100.0 | divided_by: target_backers | round: 2 %}
                    {% else %}
                    {% assign backers_progress = 0 %}
                    {% endif %}

                    {% if backers_progress > 100 %}
                    {% assign backers_progress = 100 %}
                    {% endif %}

                    {% assign backers_bar_width = backers_progress %}
                    {% if backers_bar_width < 2 %}
                    {% assign backers_bar_width = 2 %}
                    {% endif %}

                    <div class="total_backers_data">
                    <h4>Total Backers</h4>
                    <div class="total_raised_progress_bar">
                        <div class="total_backers_track">
                        <div
                            class="total_backers_progress_fill"
                            style="width: {{ backers_bar_width }}%;">
                        </div>
                        </div>
                    </div>
                    <div class="total_backers_percentage">
                        <h3 class="js-counter" data-value="{{ current_backers }}">0</h3>
                        <span>Backers</span>
                    </div>
                    </div>

                    <div class="days-gauge">
                        {% assign total_days = 60 %}
                        {% assign start_date = product.metafields.custom.project_goal_start_date %}
                        {% assign start_ts = start_date | date: "%s" %}
                        {% assign today_ts = "now" | date: "%s" %}
                        {% assign seconds_diff = today_ts | minus: start_ts %}
                        {% assign days_passed = seconds_diff | divided_by: 86400 | floor %}
                        {% assign days_left = total_days | minus: days_passed %}
                        {% if days_left < 0 %}
                            {% assign days_left = 0 %}
                        {% endif %}
                        {% if days_left > total_days %}
                            {% assign days_left = total_days %}
                        {% endif %}
                        <div class="gauge-header">
                            <h3>Days</h3>
                            <span class="early-end">
                            Early birds ends in <strong id="leftDays" class="leftDaysText">{{ days_left }} Days</strong>
                            </span>
                        </div>
                        <div class="gauge-wrapper">
                            <svg viewBox="0 0 200 120" class="gauge-svg">
                            <g id="gaugeTicks" class="gaugeTicks"></g>

                            <path
                                d="M30 100 A70 70 0 0 1 170 100"
                                fill="none"
                                stroke="#D9D9D9"
                                stroke-width="5"
                                pathLength="100"
                            />

                            <path
                                class="progressArc"
                                id="progressArc"
                                d="M30 100 A70 70 0 0 1 170 100"
                                fill="none"
                                stroke="#214ECF"
                                stroke-width="5"
                                stroke-linecap="round"
                                pathLength="100"
                                stroke-dasharray="0 100"
                            />
                            </svg>

                            <div class="gauge-center">
                            <h2 id="daysLeft" class="daysLeftNumber js-counter" data-value="{{ days_left }}">0</h2>
                            <span>Days left</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="bottom_data">
                    <div class="tier_wised_contribution">
                    <h3 class="title">Tier wise contribution</h3>

                    <div class="all_variant-tier-contribution">
                        {% for variant in product.variants %}

                        {% assign current_reached_goal = variant.metafields.custom.current_reached_tier_goal | default: 0 %}
                        {% assign total_tier_goal = variant.metafields.custom.total_tier_goal | default: 0 %}

                        {% if total_tier_goal > 0 %}
                            {% assign tier_progress = current_reached_goal | times: 100.0 | divided_by: total_tier_goal | round: 2 %}
                        {% else %}
                            {% assign tier_progress = 0 %}
                        {% endif %}

                        {% if tier_progress > 100 %}
                            {% assign tier_progress = 100 %}
                        {% endif %}

                        {% assign tier_bar_width = tier_progress %}
                        {% if tier_bar_width < 2 %}
                            {% assign tier_bar_width = 2 %}
                        {% endif %}

                        <div class="variant-tier-contribution">
                            <div class="tier_raised_progress_bar">
                                <div class="total_backers_track">
                                    <div
                                    class="total_backers_progress_fill"
                                    style="width: {{ tier_bar_width }}%;">
                                    </div>
                                </div>
                            </div>

                            <div class="tier_current_reached_data">
                                <h3 class="js-counter" data-value="{{ current_reached_goal }}">0</h3>
                                <span>{{ variant.title }}</span>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    </div>
                </div>
                </div>

        </div>
	</div>
</div>



{% schema %}
{
  "name": "Project Progress Data",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ],
	"presets": [
		{
			"name": "Project Progress Data"
		}
    ]
}
{% endschema %}