{%- if section.settings.fullwidth -%}
  {%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
  {%- assign container = 'kretoss-container' -%}
{%- else -%}
  {%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
  {%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin  = section.settings.margin | split: "|" %}
{% assign padding = section.settings.padding | split: "|" %}

{%- style -%}
#shopify-section-{{ section.id }} .section-project_tier_benefits{
  {% if margin[0] != blank %}margin: {{ margin[0] }};{% endif %}
  {% if padding[0] != blank %}padding: {{ padding[0] }};{% endif %}
}
@media (max-width:1200px){
  #shopify-section-{{ section.id }} .section-project_tier_benefits{
    {% if margin[1] != blank %}margin: {{ margin[1] }};{% endif %}
    {% if padding[1] != blank %}padding: {{ padding[1] }};{% endif %}
  }
}
@media (max-width:991px){
  #shopify-section-{{ section.id }} .section-project_tier_benefits{
    {% if margin[2] != blank %}margin: {{ margin[2] }};{% endif %}
    {% if padding[2] != blank %}padding: {{ padding[2] }};{% endif %}
  }
}
@media (max-width:767px){
  #shopify-section-{{ section.id }} .section-project_tier_benefits{
    {% if margin[3] != blank %}margin: {{ margin[3] }};{% endif %}
    {% if padding[3] != blank %}padding: {{ padding[3] }};{% endif %}
  }
}

{%- endstyle -%}

<div class="kretoss-section section-project_tier_benefits">
  <div class="{{ container }}" {{ max_width }}>
    <div class="tier_benefits_inner">
        <div class="tier_benefits_table">
            <div class="tier_benefits_head">
                <div> </div>
                {% for variant in product.variants %}
                <div>
                    <h2>{{ variant.title }}</h2>
                </div>
                {% endfor %}
            </div>

            <div class="tier_benefits_body">
                {% for block in section.blocks %}
                    <div class="tier_benefits">
                        <div class="tier_features">
                            <div class="features_info">
                                <h4>{{ block.settings.title }}</h4>
                                <div class="description">
                                {{ block.settings.short_text }}
                                {% if block.settings.more_text != blank %}
                                    <span class="more_info"> Learn More</span>
                                    <div class="more_info_block">
                                    {{ block.settings.more_text }}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% for variant in product.variants %}
                            {% case forloop.index %}
                                {% when 1 %}{% assign enabled = block.settings.tier_1 %}
                                {% when 2 %}{% assign enabled = block.settings.tier_2 %}
                                {% when 3 %}{% assign enabled = block.settings.tier_3 %}
                                {% when 4 %}{% assign enabled = block.settings.tier_4 %}
                                {% when 5 %}{% assign enabled = block.settings.tier_5 %}
                                {% when 6 %}{% assign enabled = block.settings.tier_6 %}
                                {% else %}{% assign enabled = false %}
                            {% endcase %}

                            <div class="tier_benefit_yes_no">
                                <img
                                src="{% if enabled %}{{ section.settings.icon_yes | image_url }}{% else %}{{ section.settings.icon_no | image_url }}{% endif %}"
                                alt="{{ variant.title }}"
                                >
                            </div>
                        {% endfor %}
                    </div>  
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
</div>

<script>
{% comment %} document.addEventListener("click", function(e){
  if(e.target.classList.contains("more_info")){
    const block = e.target.nextElementSibling;
    block.style.display = block.style.display === "block" ? "none" : "block";
  }
}); {% endcomment %}
</script>

{% schema %}
{
  "name": "Project Tier Benefits",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "info": "desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "info": "desktop | 1200px | 991px | 767px"
    },
    {
      "type": "image_picker",
      "id": "icon_yes",
      "label": "Yes icon"
    },
    {
      "type": "image_picker",
      "id": "icon_no",
      "label": "No icon"
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit row",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Benefit title"
        },
        {
          "type": "text",
          "id": "short_text",
          "label": "Short description"
        },
        {
          "type": "textarea",
          "id": "more_text",
          "label": "Learn more text"
        },
        {
          "type": "header",
          "content": "Select Yes or No",
          "info": "Please select yes no according your variant numbers no need to all."
        },
        {
          "type": "checkbox",
          "id": "tier_1",
          "label": "Tier 1 (Yes or No)"
        },
        {
          "type": "checkbox",
          "id": "tier_2",
          "label": "Tier 2 (Yes or No)"
        },
        {
          "type": "checkbox",
          "id": "tier_3",
          "label": "Tier 3 (Yes or No)"
        },
        {
          "type": "checkbox",
          "id": "tier_4",
          "label": "Tier 4 (Yes or No)"
        },
        {
          "type": "checkbox",
          "id": "tier_5",
          "label": "Tier 5 (Yes or No)"
        },
        {
          "type": "checkbox",
          "id": "tier_6",
          "label": "Tier 6 (Yes or No)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Project Tier Benefits"
    }
  ]
}
{% endschema %}
