{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'kretoss-container' -%}
{%- else -%}
	{%- assign container = 'page-width' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{% assign margin 	= section.settings.margin | split: "|" %}
{% assign padding 	= section.settings.padding | split: "|" %}
{%- style -%}
  {%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .section-project_variant_table{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .section-project_variant_table{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .section-project_variant_table{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .section-project_variant_table{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}



{%- endstyle -%}

<div class="kretoss-section section-project_variant_table">
	<div class="{{ container }}" {{ max_width }}>
        <div class="section_heading">
            <h2 class="h2_title">
                Take a seat at <span class="border_text"><img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/title_round.svg?v=1766058214">our table</span>
            </h2>
            <p>How close you sit defines your role in the making. Pick your tier and choose how involved you want to be.</p>
        </div>
        <div class="tier_table_inner">
            <div class="tier_box">
                <div class="tier_image">
                    <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/taster_img.svg?v=1766552310">
                </div>
                <div class="tier_data">
                    <div class="tier_title">
                        <h3>Taster</h3>
                        <div class="current_tier_reached">213 backers</div>
                    </div>
                    <div class="tier_information">
                        For the explorers who take it slow: watching, easing in, and choosing the right moment to participate. A calm tester of things.
                    </div>
                    <div class="tier_info_points">
                        <div class="tier_feature">
                            <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                            <span>Unlimited product & store reviews</span>
                        </div>
                        <div class="tier_feature">
                            <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                            <span>Unlimited photo & video reviews</span>
                        </div>
                        <div class="tier_feature">
                            <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                            <span>Google Rich Snippets</span>
                        </div>
                        <div class="tier_feature">
                            <img src="https://cdn.shopify.com/s/files/1/0962/3794/5196/files/askrisk_blue.svg?v=1766058821">
                            <span>24/7 chat and email support</span>
                        </div>
                    </div>
                    <div class="tier_estimated">
                        Estimate Delivery date 25 April 2025
                    </div>
                    <div class="tier_price_block">
                        <div class="tier_price">
                            <div class="sale_price">₹ 2,000</div>
                            <div class="regular_price">₹ 2,500</div>
                        </div>
                        <span>Lorem Ipsum</span>
                    </div>
                    <div class="tier_progress_btn">
                        <div class="tier_progress_bar">
                        </div>
                        <a href="#" class="theme_btn tier_btn">Become a Taster</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>



{% schema %}
{
  "name": "Project Variant Table",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Width container",
      "info": "Default: 1296px"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Fullwidth"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "placeholder": "0px 0px 0px 0px",
      "info":"Screen: desktop | 1200px | 991px | 767px"
    }
  ],
	"presets": [
		{
			"name": "Project Variant Table"
		}
    ]
}
{% endschema %}